<!DOCTYPE html>
{% load staticfiles %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script src="{% static 'Libraries/jquery.js' %}"></script>-->
    <script src="{% static 'Libraries/angular.min.js' %}"></script>
    <script src="{% static 'CustomScripts/TestAngularjs.js' %}"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCntrl">

    <table>
        <th>
            <td> Name</td>
            <td>Description</td>
        </th>
        <tr ng-repeat="x in screens2">
            <td>
                {[ x.screenName ]}
            </td>
            <td>
                {[ x.description ]}
            </td>
        </tr>
    </table>

    <p>This is a pure Html</p>

<!--    <ul>
        <li ng-repeat="x in screens">
            {{x.ScreenName}}
            {{ x.Description }}

        </li>
    </ul>-->


</div>


</body>
</html>
