<section class="wrapper fixed-wrapper">
    <div class="row fill">
        <div class="col-md-12 fill">
            <div class="panel panel-default fill">
                <div class="panel-heading">
                    Screen Layouts
                    <span class="pull-right">
                        <a class="btn  btn-primary pull-right" ng-click="lIC.createNewLayout()">
                            <i class="fa fa-plus"></i>
                            Add Layout
                        </a>
                    </span>
                </div>
                <div class="panel-body fill overflow-y">
                    <div class="item-container-wrap"
                          ng-repeat="layout in lIC.layouts">
                        <div class="item-container-header">
                            {[ layout.title]}
                        </div>
                        <div class="item-container">

                        </div>
                        <div class="item-container-footer">
                            <span class="pull-right">
                                <a confirm-fn="lIC.deleteLayout($index)" confirm confirm-type="delete">
                                    <i class="fa fa-trash-o pointer"></i></a>
                            </span>
                            <a ng-click="lIC.editLayout($index)">
                                <i class="fa fa-pencil pointer"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>