.idea/.name
.idea/blynq.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
blynq/.idea/.name
blynq/.idea/blynq.iml
blynq/.idea/encodings.xml
blynq/.idea/misc.xml
blynq/.idea/modules.xml
blynq/.idea/vcs.xml
blynq/static/bower_components/*
blynq/.idea/workspace.xml
blynq/media/deletedcontent
blynq/htmlcov
blynq/media/test_deletedcontent
blynq/media/test_usercontent
blynq/static_root/bower_components
blynq/media/player_updates
blynq/logs
blynq/static_root
blynq/media
blynq/dbs
blynq/*/*.pyc
