<!-- Add New group or Edit group Details Modal -->
<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h3 class="modal-title">Group Details</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="groupDetailsForm">
            <div class="form-group">
                <label for="group_name" class="col-md-2">
                    Group Name*
                </label>
                <div class="col-md-6">
                    <input type="text" placeholder="Group Name" id="group_name" name="group_name"
                           ng-model="groupDetails.group_name" class="form-control" required>
                </div>
                <div class="col-md-6 col-md-offset-2" ng-show="groupDetailsForm.group_name.$touched &&
                                groupDetailsForm.group_name.$invalid">
                    <span>This field is required.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-md-2">
                    Description
                </label>
                <div class="col-md-6">
                    <textarea type="text" placeholder="This is about group" id="description" name="description"
                           ng-model="groupDetails.description" class="form-control">
                        </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="screens" class="col-md-2">
                    Screens
                </label>
                <div id="screens" class="tagsinput">
                    <span class="tag" ng-repeat="screen in groupDetails.screens">
                        <span> {[screen.screen_name]} &nbsp;&nbsp;</span>
                        <a class="tagsinput-remove-link"
                           ng-click="removeScreen($index)"></a>
                    </span>
                    <div class="tagsinput-add-container">
                        <div class="tagsinput-add"
                             ng-click="openScreenSelectorModal()"></div>
                        <input value="" data-default=""
                               style="color: rgb(102, 102, 102); width: 7px;">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-success" ng-click="upsertGroup()"
                ng-disabled="groupDetailsForm.$invalid || isGroupUpsertRequested" >
                {[ saveButtonVerbose ]}</button>
        <span ng-if="isGroupUpsertRequested" class="loading">
            <i class="fa fa-spinner fa-pulse">
            </i>
        </span>
    </div>
</div>