<section class="wrapper fixed-wrapper">
    <div class="row fill">
        <!-- List of all screens -->
        <div class="col-md-6 col-fluid fill">
            <section class="panel panel-default">
                <header class="panel-heading">Screens
                    <div class="widget-icons pull-right">
                        <a class="btn  btn-primary" ng-click="addNewScreen()">
                            <i class="fa fa-plus"></i>Add Screen</a>

                    </div>
                </header>
                <div class="table-responsive fill">
                    <table class="table  table-hover table-advanced table-striped ">
                        <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Status</th>
                            <th>Screen Name</th>
                            <th>City</th>
                            <th class="fix">Address</th>
                            <th class="fix">Groups</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <div class="btn-group" uib-dropdown>
                                    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                                        <i class="fa fa-adjust online-and-offline" ng-show="searchScreens.status==''"></i>
                                        <i class="fa fa-circle online" ng-show="searchScreens.status=='Online'"></i>
                                        <i class="fa fa-circle offline" ng-show="searchScreens.status=='Offline'"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                        <li role="menuitem">
                                            <a ng-click="searchScreens.status=''">
                                                <i class="fa fa-adjust online-and-offline"></i>
                                                <span>All</span>
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li role="menuitem">
                                            <a ng-click="searchScreens.status='Online'">
                                                <i class="fa fa-circle online"></i>
                                                <span>Online</span>
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li role="menuitem">
                                            <a ng-click="searchScreens.status='Offline'">
                                                <i class="fa fa-circle offline"></i>
                                                <span>Offline</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </th>
                            <th><input type="form-control" ng-model="searchScreens.screen_name"
                                       placeholder="search Name"></th>
                            <th><input type="form-control" ng-model="searchScreens.city.city_name" placeholder="search">
                            </th>
                            <th><input type="form-control" ng-model="searchScreens.address" placeholder="search"></th>
                            <th><input type="form-control" ng-model="searchScreens.groups.group_name"
                                       placeholder="search"></th>
                        </tr>
                        </thead>
                        <tbody style=" height: 230px;overflow-y: auto;width: 100%;">
                        <tr class="pointer" ng-repeat="screen in screens | filter: searchScreens"
                            ng-click="clickedOnScreen($index)">
                            <td><a href="#" ng-click="editScreenDetails($index)"><i class="fa fa-pencil pointer"></i>
                            </a></td>
                            <td><i class="fa fa-circle" set-screen-status-class="{[screen.status]}"></i></td>
                            <td class="fix">{[ screen.screen_name ]}</td>
                            <td class="">{[ screen.city.city_name]}</td>
                            <td class="fix">{[ screen.address ]}</td>
                            <td class="fix">
                                <div class="tagsinput " style="height: 100%;">
                                    <span class="tag" ng-repeat="group in screen.groups">
                                    <span> {[group.group_name]} &nbsp;&nbsp;</span>
                                        <!--<a class="tagsinput-remove-link"></a>-->
                                    </span>

                                    </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class="col-md-6 col-fluid fill">
            <section class="panel panel-default">
                <header class="panel-heading">
                    Schedules-Calendar
                    <span class="pull-right">
                        <div class="btn-group">
                            <a class="btn btn-primary" ng-model="schedulesView" uib-btn-radio="'list'"
                               uib-popover="{[ popOverMessages.listView ]}" popover-trigger="mouseenter">
                                <i class="icon_table"></i>
                            </a>
                            <a class="btn btn-primary" ng-model="schedulesView" uib-btn-radio="'calendar'"
                               uib-popover="{[ popOverMessages.calendarView ]}" popover-trigger="mouseenter">
                                <i class="icon_calendar"></i>
                            </a>
                            <a add-schedule refresh-schedules-fn="refreshScreenSchedulesAndEvents()"
                               class="btn  btn-primary pull-right">
                                <i class="fa fa-plus"></i>
                                Add Schedule
                            </a>
                        </div>
                    </span>
                </header>
                <div class="row fill">
                    <div class="col-md-12 fill">
                        <schedules-list ng-show="schedulesView == 'list'"
                                        schedules="screenSchedules"
                                        refresh-schedules-fn="refreshScreenSchedules()">
                        </schedules-list>
                        <schedules-calendar ng-show="schedulesView == 'calendar'"
                                            events="screenEvents"
                                            refresh-events-fn="refreshScreenEvents">
                        </schedules-calendar>
                    </div>
                </div>

            </section>
        </div>
    </div>
</section>
