<section class="wrapper fixed-wrapper screens">
	<div class="row fill">
		<div class="col-md-12 col-fluid fill">
			<div class="panel panel-default fill">
				<!-- Screens over view Heading -->
				<div class="panel-heading">
					Screens
					<div class="pull-right">
						<span class="action-icon" ng-click="addNewScreen()"
							uib-popover="Add Screen" popover-trigger="mouseenter"> 
							<i class="fa fa-plus" ></i>
						</span>
						<span class="action-icon" ng-click="editScreenDetails()"
							uib-popover="Edit Screen" popover-trigger="mouseenter">
							<i class="fa fa-pencil" ></i>
						</span>
						<span class="action-icon" ng-click="refreshScreens()"
							uib-popover="Refresh" popover-trigger="mouseenter">
							<i class="fa fa-refresh"></i>
						</span>
						<span class="action-icon" ng-click="openScreenDetailsDiv()"
							uib-popover="Screen info" popover-trigger="mouseenter">
							<i class="fa fa-info"></i>
						</span>
					</div>				
				</div>

				<div class="rest-height">
					<div class="row fill">
						<!-- Screens over view -->
						<div class="fill screens-overview"  
							ng-class="{'col-md-6' : isScreenDetailsDivOpen, 'col-md-12' : !isScreenDetailsDivOpen }">
							<div class="screen-container-wrap" ng-class="{'active' : activeScreenIndex == $index}" ng-click="clickedOnScreen($index)"
								ng-repeat="screen in screens | filter: searchScreens">
								<div class="screen-container">
									<i class="fa fa-circle" 
										set-screen-status-class="{[screen.status]}"></i>
									<span> {[ screen.screen_name ]} </span>
									<span class="time" ng-show="screen.status == 'Offline'"
									uib-popover="last Online" popover-trigger="mouseenter"> {[ screen.last_active_time | timeSince]} </span>
								</div>
							</div>
						</div>

						<!-- Screen detailed view -->
						<div class="col-md-6 fill" ng-show="isScreenDetailsDivOpen">
							<div class="screen-details fill" >
								<div class="row heading" >
									<div class="col-md-8">
										{[ screens[activeScreenIndex].screen_name]}
									</div>
									
									<div class="col-md-4">
										<button type="button" class="close pull-right" ng-click="closeScreenDetailsDiv()" aria-hidden="true"><i class="fa fa-times"></i></button>
									</div>
								</div>
							
								<!-- tabs-->
								<div class="row tabs" ng-init="activeTab=1">
									<div class="col-md-6 tab-heading" ng-click="activeTab=0"
										ng-class="{'active' : (activeTab==0)}">
										 Details
									</div>
									<div class="col-md-6 tab-heading" ng-click="activeTab=1"
										ng-class="{'active' : (activeTab==1)}">
										Schedules 
									</div>
								</div>

								<!--screen Details-->
								<div class="row details" ng-show="activeTab==0">
									<div class="col-md-12">
										<form class="form-horizontal">
											<div class="form-group">
												<label class="col-md-4">Last Online Time</label>
												<label class="col-md-8" ng-show="screens[activeScreenIndex].status == 'Offline'">{[ screens[activeScreenIndex].last_active_time]}</label>
												<label ng-show="screens[activeScreenIndex].status != 'Offline'">Online now</label>
											</div>
											<div class="form-group">
												<label class="col-md-4">City</label>
												<label class="col-md-8">
													{[ screens[activeScreenIndex].city.city_name ]}
												</label>
											</div>
											<div class="form-group">
												<label class="col-md-4">Address</label>
												<label class="col-md-8">{[ screens[activeScreenIndex].address ]}</label>
											</div>
											<div class="form-group">
												<label class="col-md-4">Groups</label>
												<label class="col-md-8">{[ screens[activeScreenIndex].city_name ]}</label>
												<div class="col-md-8">
													<div class="tagsinput " style="height: 100%;">
					                                    <span class="tag" 
					                                    	ng-repeat="group in screens[activeScreenIndex].groups">
					                                    <span> {[group.group_name]} &nbsp;&nbsp;</span>
					                                    </span>
					                                    </span>
					                                </div>
												</div>
											</div>
										</form>
									</div>
								</div>

								<!--Screen Schedules-->
								<div class="row schedules" ng-show="activeTab==1">
									<div class="col-md-12">

										<!-- schedules menu-->
										<div class="panel">
											<div class="panel-heading">
												<div class="btn-group pull-left">
						                            <a class="btn btn-primary" ng-model="schedulesView" uib-btn-radio="'list'"
						                               uib-popover="{[ popOverMessages.listView ]}" popover-trigger="mouseenter">
						                                <i class="fa fa-list"></i>
						                            </a>
						                            <a class="btn btn-primary" ng-model="schedulesView" uib-btn-radio="'calendar'"
						                               uib-popover="{[ popOverMessages.calendarView ]}" popover-trigger="mouseenter">
						                                <i class="icon_calendar"></i>
						                            </a>
						                        </div>
						                        <span class="action-icon pull-right" add-schedule 
						                            	refresh-schedules-fn="refreshScreenSchedulesandEvents()"
					                            		uib-popover="Add Schedule" 
					                            		popover-trigger="mouseenter">
						                        	<i class="fa fa-plus"></i>
						                        </span>
											</div>
										</div>

										<schedules-list ng-show="schedulesView == 'list'"
											schedules="screenSchedules"
                                    		refresh-schedules-fn="refreshScreenSchedules()">
				                        </schedules-list>
				                        <schedules-calendar ng-show="schedulesView == 'calendar'"
				                                            events="screenEvents"
				                                            refresh-events-fn="refreshScreenEvents">
				                        </schedules-calendar>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>