<div id="timelineModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h3 class="modal-title">Edit Timeline</h3>

    </div>
    <div class="modal-body" stop-event="touchend">
        <form role="form" name="timelineDetails" novalidate="">
            <div class="timeline">
                <!-- Dates Section -->
                <section>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Start Date</label>
                                <div class="input-group">
                                    <input type="text" id="startDate" name="startDate" class="form-control"
                                           datepicker-popup="dd-MMM-yyyy" min-date="today" ng-model="timeline.startDate"
                                           is-open="popUp1.opened" uib-datepicker-popup
                                           datepicker-options="popUp1dateOptions" datepicker-localdate="true"
                                           ng-required="!timeline.everyDay" close-text="Close" required="required">
                                    <!-- ngIf: isOpen -->
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="openDatepicker('startDate')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">End Date</label>
                                <div class="input-group">
                                    <input type="text" id="endDate" name="endDate" class="form-control"
                                           datepicker-popup="dd-MMM-yyyy" ng-model="timeline.endDate"
                                           is-open="popUp2.opened" min-date="timeline.startDate"
                                           uib-datepicker-popup
                                           datepicker-options="popUp2dateOptions" datepicker-localdate="true"
                                           close-text="Close" larger-than-date><!-- ngIf: isOpen -->
                                    <!--TODO: Validate for enddate to be less than start date and activate an error.-->
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="openDatepicker('endDate')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-danger" ng-show="timelineDetails.startDate.$invalid">Start Date is a required
                        field</p>
                    <p class="text-danger" ng-show="timelineDetails.endDate.$invalid">
                        End Date must occur after Start
                        Date</p>
                </section>
                <!-- end Dates Section -->
                <!-- Timing Section -->
                <section>
                    <label class="control-label half-bottom">
                        <input type="checkbox" ng-model="timeline.allDay">
                        <strong>All Day</strong>
                    </label>
                    <div class="row form-group" ng-hide="timeline.allDay">
                        <div class="col-sm-4">
                            <label class="control-label">Start Time</label>
                            <uib-timepicker ng-model="timeline.startTime" ng-change="changed()"
                                            hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">End Time</label>
                            <div class="time-picker">
                                <uib-timepicker ng-model="timeline.endTime" ng-change="changed()" hour-step="1"
                                                minute-step="15" show-meridian="true"></uib-timepicker>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end Timing Section -->
                <!-- Recurrence Section -->
                <section>
                    <label class="control-label half-bottom" for="recurrence">
                        <strong>Recurrence</strong></label>
                    <div class="form-group">
                        <label for="Daily" class="add-right control-label">
                            <input type="radio" ng-model="timeline.recurrenceType" value="DAILY"
                                   id="Daily" name="recurrenceType"> Daily
                        </label>
                        <label for="Weekly" class="add-right control-label">
                            <input type="radio" ng-model="timeline.recurrenceType" value="WEEKLY"
                                   id="Weekly" name="recurrenceType"> Weekly
                        </label>
                        <label for="Monthly" class="add-right control-label">
                            <input type="radio" ng-model="timeline.recurrenceType" value="MONTHLY"
                                   id="Monthly" name="recurrenceType"> Monthly
                        </label>
                    </div>

                    <div class="recurrence-option">
                        <div ng-if="timeline.recurrenceType === 'DAILY'">
                            <div class="form-group">
                                <label class="control-label">Every</label>
                                <input type="number" class="form-control input-short" name="dailyRecurrenceFrequency"
                                       ng-model="recurrence.daily.recurrenceFrequency" min="1" max="999"
                                       ng-required="timeline.recurrenceType === 'DAILY'">
                                <label class="control-label">Day(s)</label>
                                <p class="text-danger ng-hide"
                                   ng-show="timelineDetails.dailyRecurrenceFrequency.$invalid">
                                    Daily Recurrence Frequency must be a number between 1 and 999
                                </p>
                            </div>
                        </div>
                        <div ng-if="timeline.recurrenceType === 'WEEKLY'">
                            <div class="form-group"><label class="control-label">
                                Every</label>
                                <input type="number" class="form-control input-short"
                                       name="weeklyRecurrenceFrequency"
                                       ng-model="recurrence.weekly.recurrenceFrequency"
                                       min="1" max="999"
                                       ng-required="timeline.recurrenceType === 'Weekly'">
                                <label class="control-label">Week(s)</label>
                                <p class="text-danger ng-hide"
                                   ng-show="timelineDetails.weeklyRecurrenceFrequency.$invalid">
                                    Weekly Recurrence Frequency must be a number between 1 and 999
                                </p>
                            </div>
                            <div class="form-group timelineWeekdays">
                                <label class="control-label">
                                    <input type="checkbox" ng-model="recurrence.weekly.monday"
                                    > Monday
                                </label>
                                <label class="control-label">
                                    <input type="checkbox" ng-model="recurrence.weekly.tuesday"
                                    > Tuesday
                                </label>
                                <label class="control-label">
                                    <input type="checkbox" ng-model="recurrence.weekly.wednesday"
                                    > Wednesday
                                </label>
                                <label class="control-label">
                                    <input type="checkbox" ng-model="recurrence.weekly.thursday"
                                           class=""> Thursday
                                </label>
                                <label class="control-label">
                                    <input type="checkbox" ng-model="recurrence.weekly.friday"
                                    > Friday
                                </label>
                                <label class="control-label">
                                    <input type="checkbox" ng-model="recurrence.weekly.saturday"
                                    > Saturday
                                </label>
                                <label class="control-label">
                                    <input type="checkbox" ng-model="recurrence.weekly.sunday"
                                    > Sunday
                                </label>
                            </div>
                        </div>
                        <div ng-if="timeline.recurrenceType === 'MONTHLY'">
                            <div class="form-group">
                                <label class="control-label">
                                    <input ng-model="recurrence.monthly.recurrenceAbsolute" ng-value="true"
                                           type="radio" name="246" value="true"> Day
                                </label>
                                <fieldset ng-disabled="!recurrence.monthly.recurrenceAbsolute">
                                    <input type="number" class="form-control" name="monthlyAbsoluteRecurrenceDayOfMonth"
                                           ng-model="recurrence.monthly.absolute.recurrenceDayOfMonth"
                                           min="1" max="31" ng-required="timeline.recurrenceType === 'MONTHLY'
                                           &amp;&amp; recurrence.monthly.recurrenceAbsolute" required="required">
                                    <label class="control-label">of Every</label>
                                    <input type="number" class="form-control" name="monthlyAbsoluteRecurrenceFrequency"
                                           ng-model="recurrence.monthly.absolute.recurrenceFrequency" min="1" max="999"
                                           ng-required="timeline.recurrenceType === 'MONTHLY'
                                           &amp;&amp; recurrence.monthly.recurrenceAbsolute" required="required">
                                    <label class="control-label">Month(s)</label>
                                </fieldset>
                                <p class="text-danger"
                                   ng-show="timelineDetails.monthlyAbsoluteRecurrenceDayOfMonth.$invalid">
                                    Monthly Recurrence Day Of Month value must be between 1 and 31
                                </p>
                                <p class="text-danger"
                                   ng-show="timelineDetails.monthlyAbsoluteRecurrenceFrequency.$invalid">
                                    Monthly Recurrence Frequency must be a number between 1 and 999
                                </p>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="control-label">
                                        <input ng-model="recurrence.monthly.recurrenceAbsolute" ng-value=""
                                               type="radio"
                                               name="247" value="false">
                                        The
                                    </label>
                                    <fieldset ng-disabled="recurrence.monthly.recurrenceAbsolute"
                                              disabled="disabled">
                                        <!--<week-dropdown week="recurrence.monthly.relative.recurrenceWeekOfMonth">-->
                                        <select class="form-control input-group-addon"
                                                ng-model="recurrence.monthly.relative.recurrenceWeekOfMonth"
                                                integer-parser="">
                                            <option value="0">First</option>
                                            <option value="1">Second</option>
                                            <option value="2">Third</option>
                                            <option value="3">Fourth</option>
                                            <option value="4">Last</option>
                                        </select>
                                        <!--</week-dropdown>-->
                                        <select class="form-control"
                                                ng-model="recurrence.monthly.relative.recurrenceDayOfWeek"
                                                integer-parser="">
                                            <option value="0">Sunday</option>
                                            <option value="1">Monday</option>
                                            <option value="2">Tuesday</option>
                                            <option value="3">Wednesday</option>
                                            <option value="4">Thursday</option>
                                            <option value="5">Friday</option>
                                            <option value="6">Saturday</option>
                                        </select>
                                        <label class="control-label input-group-addon">of Every</label>
                                        <input type="number" class="form-control input-group-addon"
                                               name="monthlyRelativeRecurrenceFrequency"
                                               ng-model="recurrence.monthly.relative.recurrenceFrequency"
                                               min="1" max="999"
                                               ng-required="timeline.recurrenceType === 'Monthly' &amp;&amp; !recurrence.monthly.recurrenceAbsolute">
                                        <label class="input-group-addon">Month(s)</label>
                                    </fieldset>
                                </div>
                                <p class="text-danger ng-hide"
                                   ng-show="timelineDetails.monthlyRelativeRecurrenceFrequency.$invalid">
                                    Monthly Relative Recurrence Frequency must be a number between 1 and 999
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end recurrence Section -->
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-fixed-width" ng-click="apply()"
                ng-disabled="timelineDetails.$invalid">Apply
            <i class="fa fa-white fa-check icon-right"></i>
        </button>
        <button type="button" class="btn btn-default btn-fixed-width" ng-click="cancel()">
            Cancel <i class="fa fa-times icon-right"></i>
        </button>
    </div>
</div>