<section ng-controller="timelinetextboxController">
<label class="control-label control-label-secondary add-left">
    <input ng-model="timeline.always" type="checkbox"
           > Always</label>

<div class="col-sm-12">
    <div id="timelineTextbox" class="tagsinput " style="height: 100%;">
        <span class="tag" ng-click="openTimelineModal()">
            <span> 29-Apr-2016 Daily Every 1 Day(s)  &nbsp;&nbsp;</span>
        </span>
    </div>
</div>
    </section>


<!--<div id="timelineTextbox" class="content-box-editable remove-bottom clickable" ng-click="openModal()"
     >
    <div class="label label-tag">
                        <span id="timelineLabel" timeline="timeline"
                              class="ng-binding">29-Apr-2016 Daily Every 1 Day(s) </span>
    </div>
</div>-->
