{% extends 'masterLayout.html' %}
{% load staticfiles %}

{% block content%}
<script src="{% static 'CustomScripts/ScheduleManagement-ang.js' %}"></script>
<section class="wrapper" ng-app="sdApp" ng-controller="scheduleIndexCtrl">
    <div class="row">
        <div class="col-md-12 col-fluid">
            <section class="panel panel-default">
                <div class="panel-heading">
                    Latest Schedules
                    <a class="btn  btn-primary pull-right" ng-click="addSchedule()">
                        <i class="fa fa-plus"></i>
                        Add Schedule
                    </a>
                </div>
                <div class="" ng-if="schedules.length>0">
                    <table class="table  table-hover table-advanced table-striped ">
                        <thead>
                            <tr>
                                <th>Edit</th>

                                <th class="fix">Title</th>
                                <th class="fix">Playlist</th>
                                <th class="fix">Screens</th>
                                <th class="fix">Timelines</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="schedule in schedules">
                                <td><a ng-click="editSchedule($index)"><i class="fa fa-pencil"></i></a></td>
                                <td>{[ schedule.schedule_title ]}</td>
                                <td>
                                    <div class="tagsinput " style="height: 100%;">
                                        <span class="tag" ng-repeat="playlist in schedule.schedule_playlists">
                                            <span> {[playlist.playlist_title]} &nbsp;&nbsp;</span>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="tagsinput " style="height: 100%;">
                                        <span class="tag" ng-repeat="screen in schedule.schedule_screens">
                                            <span> {[screen.screen_name]} &nbsp;&nbsp;</span>
                                        </span>
                                        <span class="tag" ng-repeat="group in schedule.schedule_groups">
                                            <span> {[group.group_name]} &nbsp;&nbsp;</span>
                                        </span>
                                    </div>
                                </td>
                                <td>timeline</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="schedules.length==0">
                    <p>There are no planned schedules. Add a schedule <a ng-click="addSchedule()">here</a></p>
                </div>
            </section>
        </div>
    </div>

</section>
{% endblock content%}
