{% extends 'masterLayout.html' %}
{% load staticfiles %}

{% block content%}
<section class="wrapper fixed-wrapper" ng-controller="scheduleIndexCtrl" style="width:100%">
    <div class="row fill">
        <div class="col-md-10 col-fluid fill">
            <schedules-list schedules="schedules"
                            refresh-schedules-fn="refreshSchedules()"
                            title="All Schedules">
            </schedules-list>
        </div>
    </div>
</section>
{% endblock content%}
