{% extends 'masterLayout.html' %}
{% load staticfiles %}

{% block content%}
<section class="wrapper" ng-controller="homeCtrl">
	<div class="row">
		<div class="col-md-4">
			<div class="well">
				<h2>Step 1</h2>
				Go to
				<a href="{% url 'screen_index'%}">Screens</a> page and click on 'Add Screen'
			</div>
		</div>
		<div class="col-md-4">

			<div class="well">
				<h2>Step 2</h2>
				Go to
				 <a href="{% url 'playlist_index'%}">Playlists</a> page and click on 'Add Playlist'
			</div>

		</div>
		<div class="col-md-4">
			<div class="well">
				<h2>Step 3</h2>
				Go to
				<a href="{% url 'schedule_index'%}">schedules</a> page and click on 'Add Schedule'.
			</div>
		</div>

	</div>

	<!--overview start-->
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="info-box blue-bg" ng-click="navigateTo('screen')">
				<i class="icon_desktop"></i>
				<div class="count">50</div>
				<div class="title">Screens</div>
			</div><!--/.info-box-->
		</div><!--/.col-->

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="info-box brown-bg" ng-click="navigateTo('content')">
				<i class="fa fa-folder-open-o"></i>
				<!--<i class="fa fa-shopping-cart"></i>-->
				<div class="count">.2 GB</div>
				<div class="title">Space</div>
			</div><!--/.info-box-->
		</div><!--/.col-->

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="info-box dark-bg" ng-click="navigateTo('schedule')">
				<i class="fa fa-paper-plane-o"></i>
				<!--<i class="fa fa-thumbs-o-up"></i>-->
				<div class="count">50</div>
				<div class="title">schedules</div>
			</div><!--/.info-box-->
		</div><!--/.col-->



	</div><!--/.row-->



</section>

{% endblock content%}