<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>
		BlynQ-Payment Due
	</title>
	<link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
	<div class="row">
		<div class="col-md-8 col-md-offset-2" style="text-align: center;margin-top: 100px;">
			<img src="{% static 'images/payment_due.jpg' %}">
			<h3>Your account has been temporarily suspended due to non-payment of subscription fee. 
			Please renew by paying ₹ {{ due_amount }} rupees at the earliest to continue using our services.<br>
			Call us @+91-8122846970 if you have any questions. 
			</h3>
                <a class="btn btn-lg btn-primary pull-right" target="_blank"
                    href="{{ payment_link }}">Pay now</a>
		</div>
	</div>
</body>
</html>