<!-- Upsert Playlist Title Modal -->


<div class="">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">{[mdlVerbose]}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="playlistTitleForm">
            <div class="form-group">
                <label class="col-sm-4 control-label">Playlist Name*</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="title"
                           ng-model="playlist.playlist_title" name="playlistTitle" required>
                </div>
                <div class="col-md-offset-4 col-md-7"
                     ng-show="playlistTitleForm.playlistTitle.$touched &&
                                   playlistTitleForm.playlistTitle.$invalid">
                    This field is required.
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"  ng-click="cancel()">Cancel
        </button>
        <button type="button" class="btn btn-success"
                ng-disabled="playlistTitleForm.$invalid || isPlaylistUpsertRequested" 
                ng-click="upsertPlaylist()">
            {[mdlVerbose]}
        </button>
        <span ng-if="isPlaylistUpsertRequested" class="loading">
            <i class="fa fa-spinner fa-pulse">
            </i>
        </span>
    </div>
</div>