<div class="row">
    <div class="col-sm-12">
        <div id="inpScreensAndGroups" class="tagsinput " style="height: 100%;">
        <span class="tag" ng-repeat="screen in selectedScreens">
            <span> {[screen.screen_name]} &nbsp;&nbsp;</span>
            <a class="tagsinput-remove-link"
               ng-click="removeScreen($index)"></a>
        </span>
        <span class="tag" ng-repeat="group in selectedGroups">
            <span> {[group.group_name]} &nbsp;&nbsp;</span>
            <a class="tagsinput-remove-link"
               ng-click="removeGroup($index)"></a>
        </span>
            <div class="tagsinput-add-container">
                <div class="tagsinput-add"
                     ng-click="openDistributionSelectorModal()"></div>
                <input value="" data-default=""
                       style="color: rgb(102, 102, 102); width: 7px;">
            </div>
        </div>
    </div>
    <div class="help-block with-errors col-sm-offset-3 col-sm-9"
         ng-show="selectedScreens.length<1 && selectedGroups.length <1">
        select atleast one screen
    </div>
</div>