<div class="row" style="margin-top: 10px;">
	<div class="col-md-12" style="padding: 0px;">
		<div class="selected-container">
			<div class="col-md-2 fill">
 			<div class="add-content" ng-click="openSelectionLibrary()">
 				<div style="margin: 0 auto;">
 					<i class="fa fa-plus"></i>
 				</div>
					
 				<div style="margin:0 auto;">
 					<span>Upload / Select Content</span>
 				</div>
 			</div>
 		</div>
 		<div class="col-md-10 fill">
 			<frame-drtv list="selectedPlaylists"
 				show-close-option="true"
 				show-duration="true">
 			</frame-drtv>
 		</div>
		</div>
	</div>
</div>