<div id="playlistSelectorModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h3 class="modal-title">Select Playlists</h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body" style="max-height:400px;overflow:scroll">
                        <uib-tabset active="activeTab">
                            <uib-tab index="0" heading="Playlists">
                                <table class="table bootstrap-datatable selectable-list">
                                    <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Playlist Name</th>
                                        <!--<th>Description</th>-->
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th><input type="form-control" ng-model="searchPlaylist.playlist_title"
                                                   placeholder="search Name"></th>
                                        <!--<th><input type="form-control" ng-model="searchPlaylist.description"-->
                                        <!--placeholder="search Description"></th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="pointer"
                                        ng-repeat="playlist in allPlaylists | filter : searchPlaylist"
                                        ng-class="{selected : playlist.selected}" toggle-selection
                                        item="playlist">
                                        <td><i class="fa fa-check" ng-show="playlist.selected"></i></td>
                                        <!--<td><input type="checkbox" ng-model="playlist.selected"></td>-->
                                        <td>{[playlist.playlist_title]}</td>
                                        <!--<td>{[playlist.description]}</td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </uib-tab>
                            <uib-tab index="1" heading="Blynq Content">
                                <table class="table bootstrap-datatable selectable-list">
                                    <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Category Name</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th><input type="form-control" ng-model="searchCategory.playlist_title"
                                                   placeholder="search"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="pointer"
                                        ng-repeat="blynqPlaylist in allBlynqPlaylists | filter : searchCategory"
                                        ng-class="{selected : blynqPlaylist.selected}" toggle-selection
                                        item="blynqPlaylist">
                                        <td><i class="fa fa-check" ng-show="blynqPlaylist.selected"></i></td>
                                        <td>{[blynqPlaylist.playlist_title]}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </uib-tab>
                            <uib-tab index="2" heading="Widgets">
                                <table class="table bootstrap-datatable">
                                    <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Widgets Name</th>
                                        <!--<th>Description</th>-->
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th><input type="form-control" ng-model="searchWidget.playlist_title"
                                                   placeholder="search Name"></th>
                                        <!--<th><input type="form-control" ng-model="searchPlaylist.description"-->
                                        <!--placeholder="search Description"></th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="widget in allWidgets | filter : searchWidget">
                                        <td><input type="checkbox" ng-model="widget.selected"></td>
                                        <td>{[widget.playlist_title]}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-fixed-width" ng-click="apply()"
                ng-disabled="">Select
            <i class="fa fa-white fa-check icon-right"></i>
        </button>
        <button type="button" class="btn btn-default btn-fixed-width" ng-click="cancel()">
            Cancel <i class="fa fa-times icon-right"></i>
        </button>
    </div>
</div>