<div class="" style="height : {[ schedulePane.layout_pane.height + '%' ]};
	width : {[ schedulePane.layout_pane.width + '%' ]};
    left : {[ schedulePane.layout_pane.left_margin + '%' ]};
    top : {[ schedulePane.layout_pane.top_margin + '%' ]};
    z-index: {[ 1051 + schedulePane.layout_pane.z_index ]};
    position: absolute;">
     <media-player media-file="currentPlaylistItem" 
     	mute-audio="schedulePane.mute_audio" media-duration="playingItemDuration" schedule-preview-mode="true">
     </media-player>
</div>