<div style="overflow-y: scroll; height:92%">
    <!-- no schedules message-->
    <div ng-if="schedules.length==0">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="well" style="margin:10px">
                    <p>There are no planned schedules. Add
                        <a ui-sref="playlists">playlist</a>
                        and
                        <a add-schedule refresh-schedules-fn="refreshSchedules()" class="pointer">schedule</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="schedules.length>0" class="fill">
        <div class="schedule-details" ng-repeat="schedule in schedules" 
            style="padding: 5px; margin:5px; border: 1px solid grey;">
            
            <!-- screens and groups & Layout-->
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <!-- Heading -->
                    <h3><b>{[ schedule.schedule_title ]}</b></h3>

                    <div class="schedule-info" style="padding: 10px;"">
                        <form class="form-horizontal">
                            
                            <!-- screens and groups -->
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="control-lable col-md-3">
                                    Screens and Groups
                                </div>
                                <div class="tagsinput">
                                    <span class="tag"
                                          ng-repeat="screen in schedule.schedule_screens">
                                        <span> {[screen.screen_name]} &nbsp;&nbsp;</span>
                                    </span>
                                    <span class="tag"
                                          ng-repeat="group in schedule.schedule_groups">
                                        <span> {[group.group_name]} &nbsp;&nbsp;</span>
                                    </span>
                                </div>
                            </div>

                            <!-- layout -->
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-md-3 control-lable">
                                    Layout Name
                                </div>
                                <div class="col-md-9">
                                    {[ schedule.layout.title ]}
                                </div>
                            </div>

                            <!-- edit and Delete -->
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-md-12">
                                    <button class="btn btn-info" preview-schedule 
                                    schedule="schedule" style="margin:0 5px 5px 0;">
                                        <i class="fa fa-eye"></i> Preview
                                    </button>
                                    <button class="btn btn-primary" ng-click="editSchedule($index)" style="margin:0 5px 5px 0;">
                                        <i class="fa fa-pencil"></i> Edit
                                    </button>
                                    <button class="btn btn-danger" confirm confirm-type="delete"        confirm-fn="deleteSchedule($index)" 
                                            style="margin:0 5px 5px 0;">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="schedule-layout" style="margin: 0 10px 10px 0;">
                        <div class="layout-preview-wrapper pull-right">
                            <pane-template ng-repeat="pane in schedule.layout.layout_panes"
                                           index="$index"
                                           pane="pane">
                            </pane-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="schedule-timeline-playlists" style="padding: 10px;">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <!-- panes-->
                                    <th> </th>
                                    <th ng-repeat="pane in schedule.schedule_panes" 
                                        style="text-align:center">
                                        {[ pane.layout_pane.title ]}
                                        <span style="margin-left: 10px;" ng-class="{'icon_vol-mute' : pane.mute_audio,    'icon_volume-high' : !pane.mute_audio }"></span>
                                    </th>
                                </tr>
                            </thead>
                            <!-- timeline-->
                            <tr>
                                <td> <h5><b>Timeline</b></h5> </td>
                                <td ng-repeat="pane in schedule.schedule_panes">
                                    <div class="tagsinput">
                                    <span class="tag">
                                        <span> {[pane.timeline | timelineLabel]} &nbsp;&nbsp;</span>
                                    </span>
                                    </div>
                                </td>
                            </tr>
                            <!-- playlists -->
                            <tr>
                                <td> <h5><b>Playlists</b></h5> </td>
                                <td ng-repeat="pane in schedule.schedule_panes">
                                    <div class="tagsinput">
                                        <span class="tag"
                                              ng-repeat="playlist in pane.schedule_playlists"
                                              content-slider slide-content="playlist.playlist_items" index="0">
                                            <span> {[playlist.playlist_title]} &nbsp;&nbsp;</span>
                                        </span>
                                        <span class="tag"
                                          ng-repeat="widget in pane.schedule_widgets"
                                          content-slider slide-content="widget.playlist_items" index="0">
                                            <span> {[widget.playlist_title]} &nbsp;&nbsp;</span>
                                        </span>
                                        <span class="tag" 
                                            ng-repeat="blynqPlaylist in  pane.schedule_blynq_playlists"
                                            content-slider slide-content="blynqPlaylist.playlist_items" index="0">
                                            <span > 
                                                Blynq-Content-{[ blynqPlaylist.playlist_title ]} &nbsp;&nbsp;
                                            </span>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>