<div style="overflow-y: scroll; height:92%">
    <!-- no schedules message-->
    <div ng-if="schedules.length==0">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="well" style="margin:10px">
                    <p>There are no planned schedules. Add
                        <a add-schedule refresh-schedules-fn="refreshSchedules()" class="pointer">schedule</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="schedules.length>0" class="fill">        
        <schedule-details-drtv ng-repeat="schedule in schedules"
            schedule="schedule" show-actions="true" refresh-schedules-fn="refreshSchedules()">
        </schedule-details-drtv>
    </div>
</div>