<div class="schedule-details">

    <!-- screens and groups & Layout-->
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <!-- Heading -->
            <h3><b>{[ schedule.schedule_title ]}</b></h3>

            <div class="schedule-info" style="padding: 10px;"">
                <form class="form-horizontal">
                    
                    <!-- screens and groups -->
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="control-lable col-md-3">
                            Screens and Groups
                        </div>
                        <div class="tagsinput">
                            <span class="tag"
                                  ng-repeat="screen in schedule.schedule_screens">
                                <span> {[screen.screen_name]} &nbsp;&nbsp;</span>
                            </span>
                            <span class="tag"
                                  ng-repeat="group in schedule.schedule_groups">
                                <span> {[group.group_name]} &nbsp;&nbsp;</span>
                            </span>
                        </div>
                    </div>

                    <!-- layout -->
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-3 control-lable">
                            Layout Name
                        </div>
                        <div class="col-md-9">
                            {[ schedule.layout.title ]}
                        </div>
                    </div>

                    <!-- edit and Delete -->
                    <div class="row" style="margin-bottom: 10px;" ng-show="showActions">
                        <div class="col-md-12">
                            <button class="btn btn-info" preview-schedule 
                            schedule="schedule" style="margin:0 5px 5px 0;">
                                <i class="fa fa-eye"></i> Preview
                            </button>
                            <button class="btn btn-primary" ng-click="editSchedule()" style="margin:0 5px 5px 0;">
                                <i class="fa fa-pencil"></i> Edit
                            </button>
                            <button class="btn btn-danger" confirm confirm-type="delete"        confirm-fn="deleteSchedule()" 
                                    style="margin:0 5px 5px 0;">
                                <i class="fa fa-trash-o"></i> Delete
                            </button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="col-md-5 col-sm-6">
            <div class="schedule-layout" style="margin: 0 10px 10px 0;">
                <div class="layout-preview-wrapper pull-right" style="height: 150px; width: 150px;">
                    <pane-template ng-repeat="pane in schedule.layout.layout_panes"
                                   index="$index"
                                   pane="pane">
                    </pane-template>
                </div>
            </div>
        </div>
    </div>

    <!-- Timeline, Playlists-->
    <div class="schedule-timeline-playlists" style="padding: 10px;">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- panes-->
                            <th> </th>
                            <th ng-repeat="pane in schedule.schedule_panes" 
                                style="text-align:center">
                                {[ pane.layout_pane.title ]}
                                <span style="margin-left: 10px; display: none;" ng-class="{'icon_vol-mute' : pane.mute_audio,    'icon_volume-high' : !pane.mute_audio }"></span>
                                <span style="margin-left: 10px;" ng-class="{'fa fa-random' : pane.randomize_playlist_items }"></span>

                            </th>
                        </tr>
                    </thead>
                    <!-- timeline-->
                    <tr>
                        <td> <h5><b>Timeline</b></h5> </td>
                        <td ng-repeat="pane in schedule.schedule_panes">
                            <div class="tagsinput">
                            <span class="tag">
                                <span> {[pane.timeline | timelineLabel]} &nbsp;&nbsp;</span>
                            </span>
                            </div>
                        </td>
                    </tr>
                    <!-- playlists -->
                    <tr>
                        <td> <h5><b>Playlists</b></h5> </td>
                        <td ng-repeat="pane in schedule.schedule_panes">
                            <div class="tagsinput">
                                <span class="tag"
                                      ng-repeat="playlist in pane.schedule_playlists"
                                      content-slider slide-content="playlist.playlist_items" index="0">
                                    <span> {[playlist.playlist_title]} &nbsp;&nbsp;</span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>