<div style="overflow-y: scroll; height:92%">
    <div ng-if="schedules.length>0" class="table-responsive fill">
        <table class="table  table-hover table-advanced table-striped ">
            <thead>
            <tr>
                <th>Edit</th>
                <th>Delete</th>
                <th class="fix">Title</th>
                <th>FullScreen/Split Screen</th>
                <th class="fix">Screens & Groups</th>
                <th class="fix">Playlist</th>
                <th class="fix">Timelines</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th><input type="form-control" placeholder="search" ng-model="searchSchedules.schedule_title"></th>
                <th></th>
                <th><input type="form-control" placeholder="search"
                           ng-model="searchSchedules.schedule_screens.screen_name">
                </th>
                <th><input type="form-control" placeholder="search"
                           ng-model="searchSchedules.schedule_panes.schedule_playlists.playlist_title">
                </th>
                <!--<th><input type="form-control" placeholder="search" ng-model="searchSchedules.timeline"></th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="schedule in schedules | filter : searchSchedules ">
                <td><a class="pointer" ng-click="editSchedule($index)"><i class="fa fa-pencil"></i></a></td>
                <td><a class="pointer" confirm confirm confirm-type="delete" confirm-fn="deleteSchedule($index)">
                    <i class="fa fa-trash-o"></i></a>
                </td>
                <td>{[ schedule.schedule_title ]}</td>
                <td>
                    <span ng-show="!schedule.is_split">Full Screen</span>
                    <span ng-show="schedule.is_split">Split Screen-(Layout: {[schedule.layout.title]})</span>
                </td>
                <td>
                    <div class="tagsinput">
                        <span class="tag"
                              ng-repeat="screen in schedule.schedule_screens">
                            <span> {[screen.screen_name]} &nbsp;&nbsp;</span>
                        </span>
                        <span class="tag"
                              ng-repeat="group in schedule.schedule_groups">
                            <span> {[group.group_name]} &nbsp;&nbsp;</span>
                        </span>
                    </div>
                </td>
                <td>
                    <fieldset ng-repeat="pane in schedule.schedule_panes" class="custom-field-set">
                        <legend class="custom-field-set">
                            <a data-toggle="collapse" data-target="#playlist_{[schedule.schedule_id]}_{[$index]}" href="#">
                                {[ pane.layout_pane.title ]}
                            </a>
                        </legend>
                        <div class="col collapse in" id="playlist_{[schedule.schedule_id]}_{[$index]}">
                            <div class="tagsinput">
                            <span class="tag"
                                  ng-repeat="playlist in pane.schedule_playlists">
                                <span> {[playlist.playlist_title]} &nbsp;&nbsp;</span>
                            </span>
                            <span class="tag" ng-if="pane.schedule_blynq_playlists.length>0">
                                <span> Blynq-Content &nbsp;&nbsp;</span>
                            </span>
                            </div>
                        </div>
                    </fieldset>
                </td>
                <td>
                    <fieldset ng-repeat="pane in schedule.schedule_panes" class="custom-field-set">
                        <legend class="custom-field-set">{[ pane.layout_pane.title ]}</legend>
                        <div class="tagsinput">
                        <span class="tag">
                            <span> {[pane.timeline | timelineLabel]} &nbsp;&nbsp;</span>
                        </span>
                        </div>
                    </fieldset>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- no schedules message-->
    <div ng-if="schedules.length==0">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="well" style="margin:10px">
                    <p>There are no planned schedules. Add
                        <a ui-sref="playlists">playlist</a>
                        and
                        <a add-schedule refresh-schedules-fn="refreshSchedules()" class="pointer">schedule</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>