{% extends 'masterLayout.html' %}
{% load staticfiles %}

{% block title %}Blynq Schedule{% endblock title %}

{% block content %}
<div class="items-container" style="width:100%">
    <div id="div-schedule-steps" style="width:100%;height:100%">
        <div id="schedule-step-1" style="width:100%;height:100%">
            <div class="div-header">
                <h4>Schedule Step - 1: Select Playlists</h4>

            </div>
            <div class="div-schedule-step">
                <div class="ms-container-wrap" style="padding:10px;width:100%">
                    <div id="div-playlists-selectable" class="ms-list-container">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Playlist-1
                            </li>
                            <li class="list-group-item">
                                Playlist-2
                            </li>
                        </ul>
                    </div>
                    <div class="ms-buttons-wrap">
                        <div class="btn-group-vertical">
                            <button class="btn btn-default" type="button">
                                <span class=" glyphicon glyphicon-triangle-left"></span>
                            </button>
                            <button class="btn btn-default" type="button">
                                <span class=" glyphicon glyphicon-triangle-right"></span>
                            </button>
                        </div>

                    </div>
                    <div id="div-playlist-selected" class="ms-list-container">
                        <ul class="list-group">
                            <li class="list-group-item selected">
                                Selected-Playlist-1
                            </li>
                            <li class="list-group-item">
                                Selected-Playlist-2
                            </li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>
        <div class="schedule-step-2" style="display:none">
            <div class="div-header">
                <h3>Step - 2</h3>
            </div>
            <div class="div-schedule-step">

            </div>
        </div>
        <div class="schedule-step-3" style="display:none">
            <div class="div-header">
                <h3>Step - 3</h3>
            </div>
            <div class="div-schedule-step">

            </div>
        </div>
        <div class="div-schedule-footer">
            <div class="row">
                <div class="col-xs-2">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class=" glyphicon glyphicon-triangle-right"></span>
                        </button>
                        <button class="btn btn-default" type="button">
                            <span class=" glyphicon glyphicon-triangle-left"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="{% static 'CustomScripts/ScheduleManagement.js' %}"></script>
{% endblock content %}