<section class="wrapper fixed-wrapper">
    <div class="row fill">
        <div class="col-md-12 col-fluid fill">
            <section class="panel panel-default">
                <header class="panel-heading">
                    Schedules
                    <div class="pull-right">
                        <span class="action-icon" 
                            add-schedule refresh-schedules-fn="refreshSchedules()"
                            uib-popover="Add New Schedule" popover-trigger="mouseenter">
                            <i class="fa fa-plus"></i>
                        </span>
                    </div>
                </header>
                <schedules-list schedules="schedules"
                                refresh-schedules-fn="refreshSchedules()"
                                title="All Schedules">
                </schedules-list>
            </section>
        </div>
    </div>
</section>
