<div id="timelineModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h3 class="modal-title">{[title]}</h3>
    </div>
    <section class="">
        <div class="row">
            <div class="col-md-12" style="min-height:400px; overflow-y: scroll">
                <div class="panel panel-default" style="border-right:1px solid grey">
                    <div class="panel-heading">Schedule Details</div>
                    <div class="panel-body">
                        <form id="form_schedule_details" name="scheduleDetailsForm" class="form-horizontal"
                              enctype="multipart/form-data">

                            <div class="form-group">
                                <div class="control-label col-md-2">Schedule Name*</div>
                                <div class="col-md-10">
                                    <input name="scheduleName" class="form-control"
                                           placeholder="Schedule Title" ng-model="schedule.schedule_title" required>
                                </div>
                                <div class="col-md-6 col-md-offset-2" ng-show="scheduleDetailsForm.schedule_title.$touched &&
                                scheduleDetailsForm.schedule_title.$invalid">
                                    <span>This field is required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2">Screens*</div>
                                <div class="col-md-10">
                                    <distribution-list
                                            selected-screens="schedule.schedule_screens"
                                            selected-groups="schedule.schedule_groups">
                                    </distribution-list>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2">Split Screen </div>
                                <div class="col-md-10">
                                    <input ng-model="schedule.is_split" type="checkbox"
                                    ></label>
                                </div>
                            </div>

                            <div class="form-group" ng-if="schedule.is_split">
                                <div class="control-label col-md-2">Layout Type</div>
                                <div class="col-md-3">
                                    <select ng-model="schedule.selected_layout" ng-options="layout.title for layout
                                    in layouts">
                                    </select>
                                </div>
                                <!-- default Layouts structures -->
                                <div class="col-md-7">
                                    <div style="width:160px;height:90px;border:1px solid #333;display:flex"
                                         ng-show="schedule.selected_layout == layouts[0]">
                                        <div style="border:1px solid #333;flex : 1"> Pane-1</div>
                                        <div style="border:1px solid #333;flex : 1">Pane-2</div>
                                    </div>
                                    <div style="width:160px;height:90px;border:1px solid #333;"
                                         ng-show="schedule.selected_layout == layouts[1]">
                                        <div style="border:1px solid #333;height : 80%">Pane-1</div>
                                        <div style="border:1px solid #333;height : 20%">Pane-2</div>
                                    </div>
                                    <div style="width:160px;height:90px;border:1px solid #333;"
                                         ng-show="schedule.selected_layout == layouts[2]">
                                        <div style="border:1px solid #333;height : 80%;display:flex">
                                            <div style="border:1px solid #333;flex : 1"> Pane-1</div>
                                            <div style="border:1px solid #333;flex : 1">Pane-2</div>
                                        </div>
                                        <div style="border:1px solid #333;height : 20%">Pane-3</div>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="!schedule.is_split">
                                <div class="form-group">
                                    <div class="control-label col-md-2">Playlists*</div>
                                    <div class="col-md-10">
                                        <playlist-textbox
                                                selected-playlists="schedule.schedule_panes[0].schedule_playlists">
                                        </playlist-textbox>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">Timeline*</div>
                                    <timeline-textbox
                                            time-defined="schedule.schedule_panes[0].timeline.is_always"
                                            start-date="schedule.schedule_panes[0].timeline.start_date"
                                            end-date="schedule.schedule_panes[0].timeline.end_recurring_period"
                                            all-day="schedule.schedule_panes[0].timeline.all_day"
                                            start-time="schedule.schedule_panes[0].timeline.start_time"
                                            end-time="schedule.schedule_panes[0].timeline.end_time"
                                            recurrence-type="schedule.schedule_panes[0].timeline.frequency"
                                            recurrence-frequency="schedule.schedule_panes[0].timeline.interval"
                                            recurrence-absolute="schedule.schedule_panes[0].timeline.recurrence_absolute"
                                            recurrence-day-of-month="schedule.schedule_panes[0].timeline.bymonthday"
                                            recurrence-week-of-month="schedule.schedule_panes[0].timeline.byweekno"
                                            recurrence-days-of-week="schedule.schedule_panes[0].timeline.byweekday">
                                    </timeline-textbox>
                                </div>
                            </div>

                            <div class="row" ng-if="schedule.is_split">
                                <div class="col-md-12">
                                    <uib-tabset>{[active]}
                                        <uib-tab index="[{$index}]" ng-repeat="pane in schedule.schedule_panes"
                                                 heading="Pane-{[$index + 1]}">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <form class="form-horizontal">
                                                        <div class="form-group">
                                                            <div class="control-label col-md-2">Playlists*</div>
                                                            <div class="col-md-10">
                                                                <playlist-textbox
                                                                        selected-playlists="schedule.schedule_panes[$index].schedule_playlists">
                                                                </playlist-textbox>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="control-label col-md-2">Timeline*</div>
                                                            <timeline-textbox
                                                                    time-defined="schedule.schedule_panes[$index].timeline.is_always"
                                                                    start-date="schedule.schedule_panes[$index].timeline.start_date"
                                                                    end-date="schedule.schedule_panes[$index].timeline.end_recurring_period"
                                                                    all-day="schedule.schedule_panes[$index].timeline.all_day"
                                                                    start-time="schedule.schedule_panes[$index].timeline.start_time"
                                                                    end-time="schedule.schedule_panes[$index].timeline.end_time"
                                                                    recurrence-type="schedule.schedule_panes[$index].timeline.frequency"
                                                                    recurrence-frequency="schedule.schedule_panes[$index].timeline.interval"
                                                                    recurrence-absolute="schedule.schedule_panes[$index].timeline.recurrence_absolute"
                                                                    recurrence-day-of-month="schedule.schedule_panes[$index].timeline.bymonthday"
                                                                    recurrence-week-of-month="schedule.schedule_panes[$index].timeline.byweekno"
                                                                    recurrence-days-of-week="schedule.schedule_panes[$index].timeline.byweekday">
                                                            </timeline-textbox>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                            </div>
                        </form>
                        <div class="container" style="margin:10px">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-5">
                                    <div class="pull-right">
                                        <button class="btn btn-success" ng-click="saveSchedule()">save</button>
                                        <button class="btn btn-default" ng-click="cancel()"> cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

