    <!-- BEGIN SLIDER AREA-->
    <div class="slider_area">
      <!-- BEGIN SLIDER-->          
      <div id="slides">
        <ul class="slides-container">

          <!-- THE FIRST SLIDE-->
          <li>
            <!-- FIRST SLIDE OVERLAY -->
            <div class="slider_overlay"></div> 
            <!-- FIRST SLIDE MAIN IMAGE -->
            <img src="static/SinglePro/prospect_imgs/hotel-2.jpg" alt="img">
            <!-- FIRST SLIDE CAPTION-->
            <div class="slider_caption">
              <h2>Remotely manage all your TV screens.</h2>
              <!-- <p>we are a group of experienced designers and developers</p> -->
              <a href="#about" class="slider_btn">Know More</a>              
            </div>
          </li>

          <!-- THE SECOND SLIDE-->
          <li>
            <!-- SECOND SLIDE OVERLAY -->
            <div class="slider_overlay"></div> 
            <!-- SECOND SLIDE MAIN IMAGE -->
            <img src="static/SinglePro/prospect_imgs/reception-1.jpg" alt="img">
            <!-- SECOND SLIDE CAPTION-->
            <div class="slider_caption">
              <h2>Communicate smart with your audience</h2>
              <!-- <p>we are a group of experienced designers and developers</p> -->
              <a href="#about" class="slider_btn">Know More</a>
            </div>
          </li>

          <!-- THE THIRD SLIDE-->
          <li>
            <!-- THIRD SLIDE OVERLAY -->
            <div class="slider_overlay"></div> 
            <!-- THIRD SLIDE MAIN IMAGE -->
            <img src="{% static 'SinglePro/prospect_imgs/office-2.jpg'%}" alt="img">
            <!-- THIRD SLIDE CAPTION-->
            <div class="slider_caption">
              <h2>Earn revenues through our advertisers.</h2>
              <!-- <p>we are a group of experienced designers and developers</p> -->
              <a href="#about" class="slider_btn">Know More</a>                 
            </div>
          </li>

          <!-- THE Forth SLIDE-->
          <li>
            <!-- Forth SLIDE OVERLAY -->
            <div class="slider_overlay"></div> 
            <!-- Forth SLIDE MAIN IMAGE -->
            <img src="{% static 'SinglePro/prospect_imgs/outlet-1.jpg'%}" alt="img">
            <!-- Forth SLIDE CAPTION-->
            <div class="slider_caption">
              <h2>Entertain customers with live TV or with our handpicked content.</h2>
              <!-- <p>we are a group of experienced designers and developers</p> -->
              <a href="#about" class="slider_btn">Know More</a>                 
            </div>
          </li>
        </ul>
        <!-- BEGAIN SLIDER NAVIGATION -->
        <nav class="slides-navigation">
          <!-- PREV IN THE SLIDE -->
          <a class="prev" href="#">
            <span class="icon-wrap"></span>
            <h3><strong>Prev</strong></h3>
          </a>
          <!-- NEXT IN THE SLIDE -->
          <a class="next" href="#">
            <span class="icon-wrap"></span>
            <h3><strong>Next</strong></h3>
          </a>
        </nav>       
      </div>
      <!-- END SLIDER-->          
    </div>
    <!-- END SLIDER AREA -->

    <!--=========== BEGAIN TEAM SECTION ================-->
    <section id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN ABOUT HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Our Team</h2>            
            </div>
            <div class="team_area">
              <!-- BEGAIN TEAM SLIDER -->
              <div class="team_slider">  
                <!-- BEGAIN SINGLE TEAM SLIDE#1 -->              
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                    <div class="team_img">
                      <img src="{% static 'SinglePro/prospect_imgs/tp_sastry.jpg'%}" alt="img">
                    </div>
                    <h5 class="">Sastry</h5>
                    <span>Head, Business Development and Marketing</span>
                    <p> He brings in a pioneering mix of Sales, Marketing and Business Development knowledge into the team. Graduate from IIT Guwahati and his experience at OYO rooms within various roles brings in invaluable wisdom to the team.</p>
                    <div class="team_social">
                      <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a> -->
                    </div>
                  </div>
                </div>
                <!-- BEGAIN SINGLE TEAM SLIDE#2 -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                    <div class="team_img">
                      <img src="{% static 'SinglePro/prospect_imgs/tp_nipun.jpg'%}" alt="img">
                    </div>
                    <h5>Nipun</h5>
                    <span>Vice President, Technology</span>                        
                    <p>Our Product Expeditor, a graduate from IIT Guwahati Computer Science Department and experienced Software Engineer, often serves as kickstarter for our innovations in technology space.He worked with Arista Networks before starting BlynQ.</p><br>
                    <!-- <div class="team_social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div> -->
                  </div>
                </div>
                <!-- BEGAIN SINGLE TEAM SLIDE#3 -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                    <div class="team_img">
                      <img src="{% static 'SinglePro/prospect_imgs/tp_prasanth.jpg'%}" alt="img">
                    </div>
                    <h5>Prasanth</h5>
                    <span>Chief Solutions Architect</span>                        
                    <p>Evangelist in design, he structures our product and visual design, user experience and programming. Graduate from IIT Guwahati Electronics Department, Prasanth worked in design and development roles with Bank of America before starting BlynQ .</p><br>
                    <div class="team_social">
                      <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a> -->
                    </div>
                  </div>
                </div>
                <!-- BEGAIN SINGLE TEAM SLIDE#5 -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                    <div class="team_img">
                      <img src="{% static 'SinglePro/prospect_imgs/tp_jaydev.jpg'%}" alt="img">
                    </div>
                    <h5>Jaydev</h5>
                    <span>Vice President, Product and Engineering</span>                        
                    <p>A tech generalist and experienced engineer, he manages the product and Engineering at BlynQ. A graduate from IIT and a formerly Senior Associate of Morgan Stanley, contributes a unique mix of Business and Technology expertise into the team. </p>
                    <div class="team_social">
                      <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END TEAM SECTION ================-->

    <!--=========== BEGAIN SUBSCRIBE SECTION ================-->
    <!-- <section id="subscribe">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Subscribe Us</h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
            </div>
            
            <form class="subscribe_form">
              <div class="subscrive_group wow fadeInUp">
                <input class="form-control subscribe_mail" type="email" placeholder="Enter your email address">
                <input class="subscr_btn" type="submit" value="Subscribe">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section> -->
    <!--=========== END SUBSCRIBE SECTION ================-->

    <!--=========== BEGAIN CONTACT SECTION ================-->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- START CONTACT HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Contact Us</h2>
              <p>Please feel free to contact us. We are just an email or a call away.</p>
            </div>
          </div>
        </div>       
        <div class="row">
          <!-- BEGAIN CONTACT CONTENT -->
          <div class="contact_content">
            <!-- BEGAIN CONTACT FORM -->
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="contact_form">

                <form role="form" name="requestQuoteForm">
                  <!--NAME-->
                  <input class="form-control" type="text" placeholder="Name" 
                    ng-model = "requestQuoteFormDetails.name" name="requestorName">
                  <div class="col-md-6 error-field" 
                    ng-show=" requestQuoteForm.requestorName.$touched &&
                          requestQuoteForm.requestorName.$invalid">
                    <span>This field is required.</span>
                  </div>

                  <!--EMAIL-->
                  <input class="form-control" type="email" placeholder="Email" ng-model="requestQuoteFormDetails.email" name="requestorEmail">
                  <div class="col-md-6 error-field" ng-show="requestQuoteForm.requestorEmail.$touched &&
                          requestQuoteForm.requestorEmail.$invalid">
                      <span>This field is required</span>
                  </div>

                  <!--MOBILE-->
                  <input class="form-control" type="text" placeholder="Mobile Number" ng-model="requestQuoteFormDetails.mobile_number" name="requestorPhoneNumber">
                  <div class="col-md-6 error-field" ng-show="requestQuoteForm.requestorPhoneNumber.$touched &&
                          requestQuoteForm.requestorPhoneNumber.$invalid">
                      <span>This field is required</span>
                  </div>

                  <!--TEXT AREA-->
                  <textarea class="form-control" cols="30" rows="10" placeholder="Your Message"
                  ng-model="requestQuoteFormDetails.additional_details"></textarea>
                   <input class="submit_btn" type="submit" value="Send"
                    ng-disabled="requestQuoteForm.$invalid" ng-click="submit()"> 
                </form>

                <!-- FOR CONTACT FORM MESSAGE -->
                <div id="form-messages">
                  <uib-alert type="success" ng-show="showSuccessAlert">
                      Thanks for writing in. Our Team will contact you in 24 hours.
                  </uib-alert>
                  <uib-alert type="error" ng-show="showErrorAlert">
                      There was some error while saving. Please try after sometime.
                  </uib-alert>
                </div>

              </div>
            </div>
            <!-- BEGAIN CONTACT MAP -->
            <div class="col-lg-7 col-md-7 col-sm-7">
              <div class="contact_map">
              <!-- BEGAIN GOOGLE MAP -->
              <div id="map_canvas">
                <img style="object-fit: fill; height: 100%; width:100%;" ng-src="{% static 'SinglePro/prospect_imgs/location_img.png' %}">
              </div>
              </div>
            </div>           
          </div>
        </div>      
      </div>             
    </section>
    <!--=========== END CONTACT SECTION ================-->

    <!--=========== BEGAIN BLOG SECTION ================-->
<!--     <section id="blog">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Latest News From Blog</h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="blog_content">
              <div class="blog_slider">
                
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <img src="{% static 'SinglePro/prospect_imgs/hotel-1.jpg'%}" alt="img">
                    </div>
                    <h3>Digital Signage Aids Business Developement</h3>
                    <div class="post_commentbox">
                      <a href="#"><i class="fa fa-user"></i>Jaydev</a>
                      <span><i class="fa fa-calendar"></i>6:49 AM</span>
                      <a href="#"><i class="fa fa-tags"></i>Technology</a>
                    </div>
                    <p>The digital signage phenomenon can be found in a assortment of segments across Commercial, Infrastructural, Industrial and Institutional. Retail, Corporate, Healthcare, Banking, Entertainment and Educational sectors are effectively integrating this technology into businesses for its efficient and cost effective means of communication with audience, customers, employees and teams.   </p>
                    <a href="#" class="read_more">Read More <i class="fa fa-angle-double-right">  </i></a>                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!--=========== END BLOG SECTION ================-->


    <!--=========== BEGAIN TESTIMONIAL SECTION ================-->
<!--     <section id="testimonial">
      <div class="container"> 
        <div class="row">
          <div class=" col-lg-7 col-md-7 col-sm-6">
            
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Satisfied Customers</h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
            </div>
          </div>
          <div class=" col-lg-5 col-md-5 col-sm-6">
            <div class="testimonial_customer">
              
              <ul class="testimonial_slider">
                
                <li>
                  <div class="media testi_media">
                    <a class="media-left testi_img" href="#">
                      <img src="{% static 'SinglePro/img/team-1.jpg'%}" alt="img">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Alin Brown</h4>
                      <span>CEO</span>                      
                    </div>
                  </div>
                  <div class="testi_content">
                    <p>Message of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>           
        </div>
      </div>
    </section> -->
    <!--=========== END TESTIMONIAL SECTION ================-->

    <!--=========== BEGAIN WORKS SECTION ================-->
    <section id="works">
      <!-- BEGAIN MILESTONE WORSK SECTION -->
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="counter_section">
            <!-- SKILLS COUNTER OVERLAY -->
            <div class="slider_overlay"></div>
            <div class="container">               
              <div class="counter_area">
               <div class="heading">
                  <h3 class="wow fadeInLeft"> Milestone Reached</h3>             
                </div>
                <!-- START SINGLE COUNTER-->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="counter wow fadeInUp">
                    <i class="fa fa-television fa-2x"></i>
                    <h2 class="count-title" id="count-number" data-to="150" data-speed="2000">150+</h2>
                     <p class="count-text ">Screens</p>
                  </div>
                </div>
                <!-- START SINGLE COUNTER-->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="counter wow fadeInUp">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <h2 class="count-title" id="count-number2" data-to="4" data-speed="2000">4</h2>
                     <p class="count-text ">Cities</p>
                  </div>
                </div>
                <!-- START SINGLE COUNTER-->
                <div class="col-lg-4 col-md-4 col-sm-4">                 
                   <div class="counter wow fadeInUp">
                    <i class="fa fa-bullhorn fa-2x"></i>
                    <h2 class="count-title" id="count-number3" data-to="1000" data-speed="2000">1000+</h2>
                     <p class="count-text ">Campaigns Run</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END MILESTONE WORSK SECTION -->

      <!-- BEGAIN FORTFOLIO WORSK SECTION -->
      <!-- <div class="row"> -->
        <!-- <div class="portfolio_area"> -->
          <!-- BEGAIN PORTFOLIO HEADER -->
          <!-- <div class="row">
            <div class="col-lg-12 col-md-12">
             <div class="container">
                <div class="heading">
                  <h2 class="wow fadeInLeftBig">Latest Works</h2>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                </div>
              </div>
            </div>
          </div> -->
          <!-- END PORTFOLIO HEADER -->

          <!-- BEGAIN PORTFOLIO GALLERY -->
          <!-- <div class="row">
            <div class="portfolio_gallery">
              <div id="elastic_grid_demo"></div>
            </div>
          </div> -->
          <!-- END PORTFOLIO GALLERY -->
        <!-- </div>          -->
      <!-- </div>       -->
      <!-- END FORTFOLIO WORSK SECTION -->
    </section>
    <!--=========== END WORKS SECTION ================-->