<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="about_area">
					<!-- START ABOUT HEADING -->
					<div class="heading">
						<h2 class="wow fadeInLeftBig">FAQs and Tutorials</h2>
					</div>

					<!-- START ABOUT CONTENT -->
		              <div class="about_content">
		                <div class="row">
		                  <div class="col-lg-6 col-md-6 col-sm-12">
		                    <div class="about_featured">
		                      <div class="panel-group" id="accordion">
		                        <!-- FAQ #1-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		                                 <span class="fa fa-check-square-o"></span>What is Digital Signage?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapseOne" class="panel-collapse collapse in">
		                            <div class="panel-body">
		                             Digital signage uses TV screens to display content such as images, video, streaming media, and information.   
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #2-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		                                 <span class="fa fa-check-square-o"></span>What are the benefits of using digital signage?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapseTwo" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            Digital Signage allows you to change the content on the screen anytime. 
									Since it is run digitally, no extra costs on paper or plastic based posters and standees.
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #3-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
		                                 <span class="fa fa-check-square-o"></span>Who can use BlynQ Digital Signage?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse3" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            Hospitals, restaurants, public transportation, enterprises, retail stores, banks, hotels, advertising agencies, DOOH and outdoor places etc., to provide wayfinding, entertainment, marketing and outdoor advertising.
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #4-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
		                                 <span class="fa fa-check-square-o"></span>Does BlynQ provide hardware and software?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse4" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            BlynQ provides only software. Hardware required to set up BlynQ is a TV and an android TV Box. The recommended android TV Boxes can be found here.
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #5-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
		                                 <span class="fa fa-check-square-o"></span>What hardware does BlynQ recommend?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse5" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            You can find the recommended hardware here. 
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #6-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
		                                 <span class="fa fa-check-square-o"></span>Why should I use BlynQ over other digital signage providers?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse6" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            Getting started with BlynQ Digital Signage only takes few minutes. BlynQ provides you with everything you need to start and create incredible digital signage immediately. <br>
									BlynQ believes that running 24/7 ads or promotions on the screens would hamper the audience experience. So, BlynQ came up with the concept of BlynQ TV which has a wide variety of content across categories such as sports, news, entertainment, educational, new inventions etc, to engage your audience.

		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #7-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
		                                 <span class="fa fa-check-square-o"></span>
		                                 What media types are supported on BlynQ?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse7" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            BlynQ supports almost all the media content - Images, Videos, Gifs, Pdfs. Also, BlynQ provides a range of widgets such as scroll text (Ticker), web urls, DTH TV, facebook page feeds, youtube. 
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #8-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
		                                 <span class="fa fa-check-square-o"></span>
		                                 How do I get started with BlynQ?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse8" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            You can get started in just 3 steps. 
										Get an android device and install and open our app. It shows an screen-key. <br>
										Signup/login into our website. And add the screen to the list of your screens<br>
										Upload and schedule the content on to the screen.
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #9-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
		                                 <span class="fa fa-check-square-o"></span>
		                                 What is a player?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse9" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            BlynQ-player is an app which plays the scheduled content at your TV screen. It talks with the cloud servers to get the updated schedules and plays it on TV screen.
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #10-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
		                                 <span class="fa fa-check-square-o"></span>
		                                 How to set up a player?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse10" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            Get an android TV Box. 
									Connect the Box to the TV screen with the HDMI cable.
									Power-on and connect the device to internet with WIfi
									Go to Playstore and download the BlynQ-player app. 
									Once installed, open the app and a “screen-key” is displayed on the screen.
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #11-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
		                                 <span class="fa fa-check-square-o"></span>
		                                 How to install updates for player?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse11" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            You needn’t do anything for updates. BlynQ automatically install the updates whenever a update is available. 
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #12-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
		                                 <span class="fa fa-check-square-o"></span>
		                                 Do I need continuous internet connection to use BlynQ?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse12" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            BlynQ doesn’t need continuous internet connection. It has a smart downloader which downloads and maintains the content at the player side. It clears off the stale content when required. 
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #13-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
		                                 <span class="fa fa-check-square-o"></span>
		                                 What are playlists and schedules?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse13" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            Playlist is a logical group of content items. 
									Schedule is your digital advertisement which you want to publish on the screens. It comprises of the layout, content to be played in each partition, and timeline for selected screens. 
		 
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #14-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
		                                 <span class="fa fa-check-square-o"></span>
		                                 What are widgets?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse14" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            Widgets are apps that simplify the process of displaying RSS tickers, social media content, web urls on TV screen.
		                            </div>
		                          </div>
		                        </div>
		                      </div>
		                    </div>
		                  </div>
		                  <div class="col-lg-6 col-md-6 col-sm-12">
		                  	<div class="panel-group" id="accordion2">
		                  		<!-- FAQ #15-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapse15">
		                                 <span class="fa fa-check-square-o"></span>
		                                 How to add a TV screen in BlynQ portal?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse15" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            <div class="about_video">
				                        <iframe src="https://www.youtube.com/embed/OUCfF_Z5ask" frameborder="0" allowfullscreen></iframe>
			                      	</div>
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #16-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapse16">
		                                 <span class="fa fa-check-square-o"></span>
		                                 How to create screen partition layout?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse16" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            <div class="about_video">
				                        <iframe src="https://www.youtube.com/embed/6y78E4t7lnA" frameborder="0" allowfullscreen></iframe>
			                      	</div>
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #17-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapse17">
		                                 <span class="fa fa-check-square-o"></span>
		                                 How to upload content? 
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse17" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            <div class="about_video">
				                        <iframe src="https://www.youtube.com/embed/gZkGVCziHZ0" frameborder="0" allowfullscreen></iframe>
			                      	</div>
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #18-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapse18">
		                                 <span class="fa fa-check-square-o"></span>
		                                 How to create a playlist? 
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse18" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            <div class="about_video">
				                        <iframe src="https://www.youtube.com/embed/Gt21_lRSk2A" frameborder="0" allowfullscreen></iframe>
			                      	</div>
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #19-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapse19">
		                                 <span class="fa fa-check-square-o"></span>
		                                 How to create a text scroll? 
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse19" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            <div class="about_video">
				                        <iframe src="https://www.youtube.com/embed/7ez36A7YXBI" frameborder="0" allowfullscreen></iframe>
			                      	</div>
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #20-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapse20">
		                                 <span class="fa fa-check-square-o"></span>
		                                 How to create facebook feed widget? 
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse20" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            <div class="about_video">
				                        <iframe src="https://www.youtube.com/embed/bppduK2dRwQ" frameborder="0" allowfullscreen></iframe>
			                      	</div>
		                            </div>
		                          </div>
		                        </div>
		                        <!-- FAQ #21-->
		                        <div class="panel panel-default wow fadeInLeft">
		                          <div class="panel-heading">
		                            <h4 class="panel-title">
		                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapse21">
		                                 <span class="fa fa-check-square-o"></span>
		                                 How to create and edit schedule?
		                              </a>
		                            </h4>
		                          </div>
		                          <div id="collapse21" class="panel-collapse collapse">
		                            <div class="panel-body">
		                            <div class="about_video">
				                        <iframe src="https://www.youtube.com/embed/_chloQcLhmo " frameborder="0" allowfullscreen></iframe>
			                      	</div>
		                            </div>
		                          </div>
		                        </div>
		                  	</div>
		                  </div>
		                  </div>
		                </div>
		              </div>
				</div>
			</div>
		</div>
	</div>
</section>