    <!--=========== BEGIN FEATURES SECTION ================-->
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN SERVICE HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Features</h2>
              <p>Blynq makes it easier to the user by providing various features to effectively manage their screens.</p>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN SERVICE  -->
            <div class="service_area">
              <div class="row">
                <!-- Screen Partition  -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- BEGAIN SINGLE SERVICE -->
                  <div class="single_service wow fadeInLeft">
                    <div class="service_iconarea">
                      <span class="fa fa-th-large service_icon"></span>
                    </div>
                    <h3 class="service_title">Layouts</h3>
                    <p>Select from existing variety of layouts or customise your own layout to run multiple campaigns together on your screen.</p>
                  </div>
                </div>
                <!-- Live TV  -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- BEGAIN SINGLE SERVICE -->
                  <div class="single_service wow fadeInLeft">
                    <div class="service_iconarea">
                      <span class="fa fa-television service_icon"></span>
                    </div>
                    <h3 class="service_title">Live TV</h3>
                    <p>Play live TV while promoting your products/services.</p>
                  </div>
                </div>
                <!-- Dynamic Plyalists -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- BEGAIN SINGLE SERVICE -->
                  <div class="single_service wow fadeInRight">
                    <div class="service_iconarea">
                      <span class="fa fa-film service_icon"></span>
                    </div>
                    <h3 class="service_title">Drag & Drop Playlists</h3>
                    <p> Easily create playlists, set order and duration for each media with simple drag-and-drop interface.</p>
                  </div>
                </div>
                <!-- Push-Instant change  -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- BEGAIN SINGLE SERVICE -->
                  <div class="single_service wow fadeInRight">
                    <div class="service_iconarea">
                      <span class="fa fa-rocket service_icon"></span>
                    </div>
                    <h3 class="service_title">Instant Update</h3>
                    <p>Real-time control of TV Screens. Updates to screens content will be pushed within a blink.</p>
                  </div>
                </div>  
                <!--  Reports  -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- BEGAIN SINGLE SERVICE -->
                  <div class="single_service wow fadeInRight">
                   <div class="service_iconarea">
                      <span class="fa fa-line-chart service_icon"></span>
                    </div>
                    <h3 class="service_title">Reports</h3>
                    <p> Get a detailed real-time report for tracking active time of screens, which playlists and content are active in any given timeline.</p>
                  </div>
                </div>  
                <!--  Real Time Monitor  -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- BEGAIN SINGLE SERVICE -->
                  <div class="single_service wow fadeInRight">
                   <div class="service_iconarea">
                      <span class="fa fa-video-camera service_icon"></span>
                    </div>
                    <h3 class="service_title">Real Time monitor</h3>
                    <p>Get live status of screens activity at any moment.</p>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END FEATURES SECTION ================-->