    <!--=========== BEGIN HEADER SECTION ================-->
    <header>
      <div style="width:100%;background: none repeat scroll 0 0 #242434;opacity:.8">
        <div class="container">
          <div class="row">
            <div class=" col-md-12">
              <div class="intro-text">
                  <div class="intro-lead-in">Manage TV or digital screens remotely</div>
                  <!-- <div class="intro-lead-in">Earn revenues through our advertisers.</div> -->
                  <div class="intro-lead-in">Broadcast hand picked content</div>
                  <div class="intro-lead-in">Increase customer engagement</div>
                  <!-- <div class="intro-heading">Manage screens remotely</div> -->
                  <div style="margin-top: 40px;">
                    <a href="#about" class="page-scroll btn btn-large">Watch Video</a>
                    <a href="#" class="page-scroll btn btn-large" signup-dtv style="background: #ff5722;color: white;border-color: #ff5722">Signup for free Trail</a>
                  </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </header>
    <!--=========== End HEADER SECTION ================--> 

    <!--=========== BEGIN ABOUT PRODUCT SECTION ================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="about_area">
              <!-- START ABOUT HEADING -->
              <div class="heading">
                <h2 class="wow fadeInLeftBig">Product</h2>
                <p>A powerful screen management cloud based platform to control 
                  content on TV screens placed anywhere. 
                </p>
              </div>

              <!-- START ABOUT CONTENT -->
              <div class="about_content">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about_featured">
                      <div class="panel-group" id="accordion">
                        <!-- START SINGLE FEATURED ITEAM #1-->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                 <span class="fa fa-check-square-o"></span>Product
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                             We provide a simple web interface for managing your TV screens. Broadcast hand picked content, control TVs remotely and increase customer engagement. This is a good fit for businesses to utilize their TV screen better for brand building and up-selling activities while entertaining the audience. <br>
                              All you need is a digital screen (TV) and a working internet connection.   
                            </div>
                          </div>
                        </div>
                        <!-- START SINGLE FEATURED ITEAM #2 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                 <span class="fa fa-check-square-o"></span>Content
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                            Bored of TV channel content? We have great collection of hand picked content from our content partners from different categories. Humor, travel, health, science are to name few categories.
                            Do you produce great content (video, images, gifs) of any category and want to have a reach in public? Click here to become a content partner and showcase your content on 100s of public screens
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- <div class="about_slider">
                      <div class="featured_slider">
                        
                        <div class="single_iteam">
                          <a href="#"> <img src="img/feature_img1.jpg" alt="img"></a>    
                        </div>
                        
                        <div class="single_iteam">
                          <a href="#"> <img src="img/feature_img1.jpg" alt="img"></a>  
                        </div>
                        
                        <div class="single_iteam">
                          <a href="#"> <img src="img/feature_img1.jpg" alt="img"></a>
                        </div>
                        
                        <div class="single_iteam">
                          <a href="#"> <img src="img/feature_img1.jpg" alt="img"></a>
                        </div>
                        
                        <div class="single_iteam">
                          <a href="#"> <img src="img/feature_img1.jpg" alt="img"></a>
                        </div>
                      </div> -->
                      <div class="about_video">
                        <iframe src="https://www.youtube.com/embed/Vy4WnD30BTc?rel=0" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>
       <!-- BEGAIN SKILLS  -->
        <!-- <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="skills_area">
              <div class="slider_overlay"></div>
              <div class="container">               
                <div class="skills">
                 <div class="heading">
                    <h3 class="wow fadeInDown">Our Skills</h3>               
                  </div>
                  
                  <div class="col-lg-3 col-md-3 col-sm-3">
                   <div class="single_skill wow fadeInUp">
                     <div id="myStat" data-dimension="150" data-text="85%" data-info="" data-width="10" data-fontsize="25" data-percent="85" data-fgcolor="#999" data-bgcolor="#fff"  data-icon="fa-task"></div>
                      <h4>Design</h4>                      
                    </div>
                  </div>
                  
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="single_skill wow fadeInUp">
                      <div id="myStathalf2" data-dimension="150" data-text="90%" data-info="" data-width="10" data-fontsize="25" data-percent="90" data-fgcolor="#999" data-bgcolor="#fff"  data-icon="fa-task"></div>
                      <h4>HTML/CSS</h4>
                    </div>
                  </div>
                  
                  <div class="col-lg-3 col-md-3 col-sm-3">                 
                    <div class="single_skill wow fadeInUp">
                      <div id="myStat2" data-dimension="150" data-text="65%" data-info="" data-width="10" data-fontsize="25" data-percent="65" data-fgcolor="#999" data-bgcolor="#fff"  data-icon="fa-task"></div>
                      <h4>jQuery</h4>
                    </div>
                  </div>
                  
                  <div class="col-lg-3 col-md-3 col-sm-3">                 
                    <div class="single_skill wow fadeInUp">
                      <div id="myStat3" data-dimension="150" data-text="75%" data-info="" data-width="10" data-fontsize="25" data-percent="75" data-fgcolor="#999" data-bgcolor="#fff"  data-icon="fa-task"></div>
                      <h4>WordPress</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- END SKILLS  -->
    </section>
    <!--=========== END ABOUT PRODUCT SECTION ================-->


       <!--=========== BEGIN Get Started ================-->
    <section id="service" style="background: none repeat scroll 0 0 #f8f8f8">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN SERVICE HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Getting Started -In 3 steps</h2>
              <p>BlynQ lets anyone use the software with simple 3 step procedure.</p>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN SERVICE  -->
            <div class="service_area">
              <div class="row">
                <!-- Screen Partition  -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- BEGAIN SINGLE SERVICE -->
                  <div class="single_service wow fadeInLeft">
                    <div class="service_iconarea">
                      <span class="fa fa-android service_icon"></span>
                    </div>
                    <h3 class="service_title">Get an android device.</h3>
                    <p>Get an Android TV Box and install our app from appstore.
                     Open our app to get your unique "screen-key" for your screen.</p>
                  </div>
                </div>
                <!-- Live TV  -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- BEGAIN SINGLE SERVICE -->
                  <div class="single_service wow fadeInLeft">
                    <div class="service_iconarea">
                      <span class="fa fa-user-circle-o service_icon"></span>
                    </div>
                    <h3 class="service_title">Sign up <br></h3>
                    <p>Sign Up into our website and add your new screen with the obtained "screen-key".</p>
                  </div>
                </div>
                <!-- Dynamic Plyalists -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- BEGAIN SINGLE SERVICE -->
                  <div class="single_service wow fadeInRight">
                    <div class="service_iconarea">
                      <span class="fa fa-magic service_icon"></span>
                    </div>
                    <h3 class="service_title">Control the screen remotely.</h3>
                    <p>Upload the requried media and schedule them from our portal.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END Get Started ================-->

    <!--=========== BEGAIN Advertiser SECTION ================-->
 <!--    <section id="clients">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Advertising</h2>
              <p>
                Do you have a great footfall at your premises? Now, monetize your screens by placing Ads from our advertiser network.<a href="#contact" ng-click="becomepartner('screenpartner')"> <b> Click here </b> </a> to become a part of our screen network.<br>
                Want to be part of our advertising network and promote your brand across multiple great footfall locations? <a style="font-weight: strong" href="#contact" ng-click="becomepartner('advertiser')"><b> Click here </b></a> to become an Advertiser & promote your brand.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!--=========== END Advertiser SECTION ================-->

    <!--=========== BEGAIN Content  SECTION ================-->
<!--     <section id="about-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Content</h2>
              <p itemprop="description">
                <span itemprop="name">Bored of TV channel content? We have got great collection of handpicked content from our content partners from different categories. Humor, Travel,Health, Science are to name few categories. <br>
                You produce great content(video, images, gifs, blogs,) of any category and want to have a reach in public? <a href="#contact" ng-click="becomepartner('contentpartner')"> <b> Click here</b> </a> to become a content partner & showcase your content to 100’s of screens. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!--=========== END Content SECTION ================-->

    <!--=========== BEGAIN CLIENTS SECTION ================-->
    <section id="clients">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- START BLOG HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Our Best Clients</h2>
              <p> </p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="clients_content">
              <div class="row">
                <!-- BEGAIN CLIENTS SLIDER -->
                <div class="clients_slider">
                  <!-- BEGAIN SINGLE CLIENT SLIDE#1 -->
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="single_client">
                      <img ng-src="static/SinglePro/prospect_imgs/client_logos/heartcup_logo.png" alt="clients Brand">
                    </div>
                  </div>
                  <!-- BEGAIN SINGLE CLIENT SLIDE#2 -->
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="single_client">
                      <img ng-src="static/SinglePro/prospect_imgs/client_logos/globalhospitals_logo.gif" alt="clients Brand">
                    </div>
                  </div>
                  <!-- BEGAIN SINGLE CLIENT SLIDE#3 -->
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="single_client">
                      <img ng-src="static/SinglePro/prospect_imgs/client_logos/kingsdrivein_logo.jpg" alt="clients Brand">
                    </div>
                  </div>
                  <!-- BEGAIN SINGLE CLIENT SLIDE#4 -->
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="single_client">
                      <img ng-src="static/SinglePro/prospect_imgs/client_logos/oakridgehospitals_logo.jpg" alt="clients Brand">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END CLIENTS SECTION ================-->

    <!--=========== BEGAIN ABOUT US  SECTION ================-->
    <section id="about-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="heading">
              <h2 class="wow fadeInLeftBig">About BlynQ</h2>
              <p itemprop="description">
                <span itemprop="name">BlynQ </span> is dedicated to become single largest platform for a) TV Screen owners – bring TV screens online to make the most of it. b) Content partners – deliver interesting content to TV screens, c) Advertisers – publish geo targeted ads to maximise the impact of a campaign with a push of a button. <br><br>

                We have replaced 100s of physical boards, paper and plastic based posters & standees and pen-drive swamped offline content displays with intelligent digitised, internet-enabled and cloud featured solution. ​
                Our mission at BlynQ is to use technology to replace paper based posters & standees and to enable displays with engaging and targeted content. Needless to mention, we are super easy to work with, available 24*7 for all customer queries. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END ABOUT US SECTION ================-->

    <!--=========== BEGAIN CONTACT FEATURE SECTION ================-->
    <section id="contactFeature">
      <!-- SKILLS COUNTER OVERLAY -->
      <div class="slider_overlay"></div>
      <div class="row">
        <div class="col-lg-12 col-md-12">       
          <div class="container">               
              <div class="contact_feature">
            <!-- BEGAIN CALL US FEATURE -->
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="single_contact_feaured wow fadeInUp">
                <i class="fa fa-phone"></i>
                <h4>Call Us</h4>
                <p>Landline: <span itemprop="telephone">040-4027 1088</span>
                 <br> Mobile : +91-8122846970</p> 
              </div>
            </div>
            <!-- BEGAIN CALL US FEATURE -->
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="single_contact_feaured wow fadeInUp">
                <i class="fa fa-envelope-o"></i>
                <h4>Email Address</h4>
                <p><span itemprop="email">hello(at)blynq.in</span></p><br>
              </div>
            </div>
            <!-- BEGAIN CALL US FEATURE -->
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="single_contact_feaured wow fadeInUp">
                <i class="fa fa-map-marker"></i>
                <h4>Office Location</h4>
                <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  <span itemprop="streetAddress">PlotNo.173, Level 3, CPG Building</span>
                  <span itemprop="addressLocality">HiTech City,Hyderabad</span>
                </p>
              </div>
            </div>
            <!-- BEGAIN CALL US FEATURE -->
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="single_contact_feaured wow fadeInUp">
                <i class="fa fa-clock-o"></i>
                <h4>Support</h4>
                <p>24*7</p><br>
              </div>
            </div>
          </div>
          </div>         
        </div>
      </div>
    </section>
    <!--=========== END CONTACT FEATURE SECTION ================-->

