    <!--=========== BEGAIN BLOG SECTION ================-->
    <section id="blog">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Players/Devices</h2>
              <p>BlynQ recommends the following android TV Boxes for its Digital Signage software.  </p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="blog_content">
              <div class="blog_slider">
                <!--MXQ PRO-->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <img src="static/SinglePro/prospect_imgs/mxqpro.jpg" alt="img">
                    </div>
                    <h3></h3>
                    <div class="post_commentbox">
                      <!-- <a href="#"><i class="fa fa-user"></i>Jaydev</a>
                      <span><i class="fa fa-calendar"></i>6:49 AM</span>
                      <a href="#"><i class="fa fa-tags"></i>Technology</a> -->
                    </div>
                    <p>BlynQ has tested MXQPRO rigorously and recommends this device.</br>
                    Note : A max of 4 divisions will run on this box. 
                    This Box would support only one video at a time. </p>
                    <a href="http://www.amazon.in/MXQ-Amlogic-Android-Pre-installed-Internet/dp/B01DWG8PYQ/" target="_blank" class="read_more">Link to Buy device <i class="fa fa-angle-double-right">  </i></a>                   
                  </div>
                </div>
                <!-- Mgyan -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <img src="static/SinglePro/prospect_imgs/mgyan.jpg" alt="img">
                    </div>
                    <h3></h3>
                    <div class="post_commentbox">
                      <!-- <a href="#"><i class="fa fa-user"></i>Jaydev</a>
                      <span><i class="fa fa-calendar"></i>6:49 AM</span>
                      <a href="#"><i class="fa fa-tags"></i>Technology</a> -->
                    </div>
                    <p>BlynQ has tested Mgyan rigorously and recommends this device.</br>
                    Note : A max of 6 divisions will run on this box. This Box would support two videos at a time. </p>
                    <a href="http://www.amazon.in/mgyan-CPU805G-CPU-805G/dp/B01HY0542W/" target="_blank" class="read_more">Link to Buy device <i class="fa fa-angle-double-right">  </i></a>
                  </div>
                </div>
                <!-- DTHTV -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <img src="static/SinglePro/prospect_imgs/dthtvbox.jpeg" alt="img">
                    </div>
                    <h3></h3>
                    <div class="post_commentbox">
                      <!-- <a href="#"><i class="fa fa-user"></i>Jaydev</a>
                      <span><i class="fa fa-calendar"></i>6:49 AM</span>
                      <a href="#"><i class="fa fa-tags"></i>Technology</a> -->
                    </div>
                    <p>This device lets you play DTH channels on your screens along with the content.
                    Please contact us to buy this device.</p>
                    <a href="http://www.amazon.in/mgyan-CPU805G-CPU-805G/dp/B01HY0542W/" target="_blank" class="read_more">Link to Buy device <i class="fa fa-angle-double-right">  </i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!--=========== END BLOG SECTION ================-->
