    <!--=========== BEGAIN PRICING SECTION ================-->
    <section id="pricing">
      <div class="container">
        <div class="row col-lg-12 col-md-12">
          <!-- START ABOUT HEADING -->
          <div class="heading">
            <h2 class="wow fadeInLeftBig">Our Pricing</h2>
            <p>We are focussed to offer valued service of best quality and immediate support to our customers at affordable costs.</p>
          </div>
        </div>
        <div class="row col-lg-12 col-md-12">
          <div class="pricing_area">
            <div class="row">
              <!-- BEGAIN BASIC PRICE TABLE -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single_price wow fadeInUp">
                  <h3>Basic</h3>
                  <div class="price">
                    <h4>₹1200</h4>
                    <span>per month per screen</span>
                  </div>
                  <ul class="price_features">
                    <li>Upto <strong>10 Screens</strong></li>                  
                    <li><strong>5 GB</strong> Storage</li>
                    <li>Up to <strong>5 Sub-Users</strong></li>
                    <li><strong>30 GB</strong> Bandwidth</li>
                  </ul>
                  <a href="#contact" ng-click="selectPlan('Basic')" class="price_btn">Select Plan</a>
                </div>
              </div>
              <!-- BEGAIN STANDARD PRICE TABLE -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single_price wow fadeInUp">
                  <h3>Standard</h3>
                  <div class="price">
                    <h4>₹1000</h4>
                    <span>per month per screen</span>
                  </div>
                  <ul class="price_features">
                    <li>Upto <strong>25 Screens</strong></li>                  
                    <li><strong> 30 GB</strong> Storage</li>
                    <li>Up to <strong> 10 Sub-Users</strong></li>
                    <li><strong> 100 GB</strong> Bandwidth</li>
                  </ul>
                  <a href="#contact" ng-click="selectPlan('Standard')" class="price_btn">Select Plan</a>
                </div>
              </div>
              <!-- BEGAIN BUSINESS PRICE TABLE -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single_price business_price wow fadeInUp">
                  <h3>Business</h3>
                  <div class="price">
                    <h4>₹800</h4>
                    <span>per month per screen</span>
                  </div>
                  <ul class="price_features">
                    <li>Upto <strong>50 Screens</strong></li>                  
                    <li><strong>70 GB</strong> Storage</li>
                    <li>Up to <strong> 20 sub-Users</strong></li>
                    <li><strong>250 GB</strong> Bandwidth</li>
                  </ul>
                  <a href="#contact" ng-click="selectPlan('Business')" class="price_btn">Select Plan</a>
                </div>
              </div>
              <!-- BEGAIN DELUX PRICE TABLE -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single_price wow fadeInUp">
                  <h3>Enterprise</h3>
                  <div class="price">
                    <h3><a href="#contact" ng-click="selectPlan('Enterprise')"> Contact-us</h3>
                    <span>per month</span>
                  </div>
                  <ul class="price_features">
                    <li>-</li>                  
                    <li>-</li>
                    <li>-</li>
                    <li>-</li>
                  </ul>
                  <a href="#contact" ng-click="selectPlan('Enterprise')" 
                    class="price_btn">Select Plan</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END PRICING SECTION ================-->