    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray" style="padding: 150px 0;background: #eee">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Use Cases</h2>
                    <h3 class="section-subheading text-muted">Know how BlynQ is being used in different sectors</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img ng-src="static/SinglePro/prospect_imgs/use-cases/hospitals.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Health-Care</h4>
                        <p class="text-muted">Hospitals</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/SinglePro/prospect_imgs/use-cases/restaurants.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>FnB</h4>
                        <p class="text-muted">Restaurants</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/SinglePro/prospect_imgs/use-cases/corporate.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Corporate</h4>
                        <p class="text-muted">Offices</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/SinglePro/prospect_imgs/use-cases/banks.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Banking</h4>
                        <p class="text-muted">Banks</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/SinglePro/prospect_imgs/use-cases/retail-2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Retail</h4>
                        <p class="text-muted">Super Markets, shopping malls</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/SinglePro/prospect_imgs/use-cases/hotels.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Hotels</h4>
                        <p class="text-muted">Hotels</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/SinglePro/prospect_imgs/use-cases/bus.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Public Transportation</h4>
                        <p class="text-muted">Buses, Cabs</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img ng-src="static/SinglePro/prospect_imgs/use-cases/outdoor.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>DOOH And  Outdoor</h4>
                        <p class="text-muted">Hotels</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Health Care</h2>
                                <p class="item-intro text-muted">Educate and engage your patients, hospital staff and other visiting audience with your content in TV screens. </p>
                                <img class="img-responsive img-centered" ng-src="static/SinglePro/prospect_imgs/use-cases/hospitals.jpg" alt="">
                                <p>We can help you improve your patient and visitor experience in the waiting rooms, receptions, in-room areas and cafeteria with targeted medical information and messages from your clinic’s staff. TV screens ensure accurate information is being delivered to your audience at all times. It builds patient confidence in their choice of hospital. 
                                </p>
                                <p>
                                    <ul>
                                        <li>Integrate TV screens with queue management systems to make sure that your patients are always receiving the most update to date information.
                                        </li>
                                        <li>
                                            Reduce perceived wait times with entertaining videos, live news feeds, social media plugins. BlynQ also provides engaging and entertaining content like healthcare tips, daily news and sports videos.
                                        </li>
                                        <li>
                                            Upsell additional services like preventive health care, full body checkup, family packages, organ-specific health treatments or other events.
                                        </li>
                                        <li>
                                            Provide nutritional guidelines and precautionary information to all audience.
                                        </li>
                                        <li>
                                            Easily control corporate campaigns and branding building activities with customers.
                                        </li>
                                    </ul>
                                </p>
                                <p>
                                    Effortlessly communicate with your audience using TV screens. Contact us for a demo.
                                </p>
                                <ul class="list-inline">
                                    <li>Date: July 2014</li>
                                    <li>Category: Hospitals</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!--2 Restaurants -->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <h2>Restaurants</h2>
                                    <p class="item-intro text-muted">Make use of your TV screens to improve the customer experience and drive up your sales.</p>
                                    <img class="img-responsive img-centered" ng-src="static/SinglePro/prospect_imgs/use-cases/restaurants.jpg" alt="">
                                    <p>A great in-store experience is the best way to build a brand. Dynamic food images and videos capture customers attention. We offer a great platform to present your amazing services on your TVs. BlynQ makes it easy for you to deliver fresh, eye-catching content with our simple and efficient platform.</p>
                                    <p>
                                        Reduce perceived wait times with entertaining videos, live news feeds, social media plugins.
                                        Increase conversion with direct upselling. Play restaurant specials and menu suggestions with rich looking imagery. 
                                        Promote restaurant events and festive specials. Effortless way to bring back your customers to your store.
                                        Brand building - Strategic display of brand information along with menu items creates brand recall and improves identity and consumer loyalty.
                                        Superior ambience - Informative audio visuals and consistently entertaining experience in elegant formats elevates the customer delight towards the restaurant 

                                    </p>
                                    <p>Complementing our technology with your superior restaurant quality, service and ambience, you can win customers for life. Let us help you grow your brand and business. Contact us for a demo.</p>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--3 Corporate-offices -->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2>Corporate communications</h2>
                                    <p class="item-intro text-muted">Enhance corporate communications with connected TV display network..</p>
                                    <img class="img-responsive img-centered" ng-src="static/SinglePro/prospect_imgs/use-cases/corporate.jpg" alt="">
                                    <p>Effective communication with employees in real time is very crucial for an enterprise. Digital Signage uses TV screens to inform and engage your employees with corporate news and highlights. BlynQ helps you with the best digital signage platform for solid internal communication and building on your company’s culture.</p>
                                    <p>Corporate campaigns and branding messages can be controlled from a central location. It ensures automatic consistency across all locations.
                                    Public recognition of employee achievements and company performance milestones on being telecast on TV screens encourages and informs the employees.
                                    Easy means for public display for sharing reminders & emergency communication in real-time. 
                                    New hires, company policies and updates, safety instructions and live news feeds can be easily streamed. 
                                    TV screens in waiting lobby and cafeteria can be used to inform and entertain to help reduce the perceived wait time.</p>
                                    <p>We help in maintaining your strong culture using by integrating your TV screens with our controlled communication platform. Contact us for a demo</p>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--4 Banking -->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2>Banking</h2>
                                    <p class="item-intro text-muted">Enhance customer experience and communication within branches with connected TV display network.</p>
                                    <img class="img-responsive img-centered" ng-src="static/SinglePro/prospect_imgs/use-cases/banks.png" alt="">
                                    <p>In-branch experience in banks goes along way in building a strong relation with your clients. We provide a platform through which you can accurately deliver the information to customers using your TV screens. We cater to all brick-and-mortar touch points - branches, ATMs, self-service kiosks. We help you in effectively communicating to your audience’s financial needs, driving your brand loyalty.</p>
                                    <p>Replace traditional standees and posters, pushing informational, financial services and promotional content to elegant TV displays.
                                    Generate and update content from central location and deliver targeted messages to multiple branches. It strengthens their ability to upsell and cross-sell banking services while reducing operational costs.
                                    Easy linking of TV screens to internal data sources and live financial data feeds for real-time information.
                                    TV screens in ATMs can be targeted to individual users, geo-targeting of tailor made content in real-time promotes better relationship.
                                    Increase customer satisfaction by engaging customers and reduce their perceived wait times with compelling dynamic content.
                                    </p>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 5 Retail -->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2>Retail</h2>
                                    <p class="item-intro text-muted">Make use of your TV screens to improve the customer experience and drive up your sales.</p>
                                    <img class="img-responsive img-centered" ng-src="static/SinglePro/prospect_imgs/use-cases/retail-2.jpg" alt="">
                                    <p>Retailers are the most significant influence on customers' decisions and satisfaction. Displays with dynamic content creates an enticing design to the store. With their eye-catching visuals and dynamic messages, retail digital signage displays can transform an unremarkable store visit into an inviting and innovative shopping experience.</p>
                                    <p>Creates immediate impact and impulse buys to boost sales.
                                    Display product introductions, advertising merchandise, specials and offers to targeted audience based on location. 
                                    Easily introduce marketing campaigns from central location and deliver targeted messages to multiple branches. It strengthens their ability to upsell and cross-sell banking services while reducing operational costs.
                                    Engage customers at billing counters with dynamic content and promotions which reduces their perceived wait time.
                                    Enhanced store environment and increased brand awareness can convert casual customers to loyal fans.
                                    </p>
                                    <p>Decrease costs associated with printing and shipping of static materials. Influence, inform and entertain your customers using BlynQ’s digital signage. Contact us for a demo.</p>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 6 Hotels -->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2>Hotels</h2>
                                    <p class="item-intro text-muted">Enhance the guest experience with connected TV display network.</p>
                                    <img class="img-responsive img-centered" ng-src="static/SinglePro/prospect_imgs/use-cases/hotels.jpg" alt="">
                                    <p>Visual aspects in hotels are very important in defining the customer experience. TV screens at hotel lobby, rooms, dining areas are great avenues to enhance customer experience with attractive visuals. </p>
                                    <p>
                                    Inform and engage guests with news, events, and nearby tourist attractions.
                                    Promote your products and services with dynamic content. 
                                    Generate and update content from central location and deliver targeted messages to multiple branches. No operational intervention.
                                    Display cross-promotion advertisements from your partners
                                    Easy linking of TV screens with social-media plugins. Display your reviews with trip-advisor, twitter, instagram which reinforces brand positivity
                                    Play your promo video inside hotel rooms for short duration upon switching the TVs to promote your on-site amenities.
                                    </p>
                                    <p>Create a technologically advanced customer experience in your venues. Contact us for a demo</p>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 7 Public Transportation -->
        <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2>Public Trasnportation</h2>
                                    <p class="item-intro text-muted">Effective information and targeted advertising with connected TV display network.</p>
                                    <img class="img-responsive img-centered" ng-src="static/SinglePro/prospect_imgs/use-cases/bus.jpg" alt="">
                                    <p>People spend great amount of time during travelling and transit waiting areas. TV screens at these public locations with customised content is an amazing avenue for entertaining viewers and generating ad revenue.</p>
                                    <p>
                                    Display real time travel information like schedule, next stops and passenger information.
                                    Display live news, weather & facebook feeds simply by using our plugins.
                                    Generate revenue from geo-targeted advertising. 
                                    Complete control of TV screens network from central location. No operational involvement.
                                    Entertain and engage audience for increased users view time.
                                    Play entertaining content while advertising from your clients in inter-city transit.
                                    </p>
                                    <p>We provide both technology and content. Let us help in improving travellers experience and generate you advertising revenue. Contact us for a demo</p>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 8 DOOH & Outdoor -->
        <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2>DOOH & Outdoor</h2>
                                    <p class="item-intro text-muted">Efficient, affordable and effective solution for connected digital display network.</p>
                                    <img class="img-responsive img-centered" ng-src="static/SinglePro/prospect_imgs/use-cases/outdoor.jpg" alt="">
                                    <p>Outdoor advertising is known to be one of the most effective mediums for years. Digital displays in out-of-home places is an emerging avenue. Imagine a centrally controlled, visually rich and real-time updatable displays at any location. It increases exposure and gathers much more attention. </p>
                                    <p>
                                    Zero printing cost, zero distributing cost and update largest of signages in a blink.
                                    Have multiple advertisers and rotate messages every few seconds.
                                    Schedule messages with day parting and climate driven factors.
                                    Advanced analytics to monitor display time of every campaign, proof of play and viewer count.
                                    </p>
                                    <p>Out of home advertising is evolving and digital signage is the next leap. Reimagine outdoor advertising with controlled digital display network. Contact us for a demo.</p>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>