<!-- Modal-Upsert Group Details -->
<div id="mdl-upsertGroup" class="modal fade" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-lg" style="width:1000px">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Group Details</h4>
                    </div>
                    <div class="modal-body" style="height:500px;overflow-y:scroll">
                        <form id="display_form" method="post" class="form-horizontal"
                              name="{{ form.form_name }}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <div class="col-sm-2">{{ field.label_tag }}</div>
                                <div class="col-sm-5">
                                    {{ field }}
                                </div>
                                <div class="help-block with-errors col-sm-3">
                                    {{ field.errors }}
                                </div>
                            </div>
                            {% endfor %}
                        </form>

                        <div class="row" style="margin:10px">
                            <!--selectable Screens-->
                            <div class="col-md-6">
                                <section class="panel panel-primary">
                                    <header class="panel-heading ">
                                        Selectable Screens
                                    </header>
                                    <div class="table-responsive">
                                        <table class="table  table-hover table-advanced table-striped ">
                                            <thead style="overflow-y:scroll">
                                            <tr>
                                                <th>Select</th>
                                                <th class="fix">Screen Name</th>
                                                <th class="fix">Address</th>
                                                <th class="fix">Size</th>
                                                <th class="fix">Resolution</th>
                                                <th class="fix">Aspect Ratio</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                            </tr>
                                            </thead>
                                            <tbody style="height: 230px;overflow-y: auto;width: 100%;">
                                            <tr ng-repeat="screen in selectableScreens">
                                                <td><a href="#" ng-click="moveScreenToSelected(screen)"><i class="fa fa-plus-circle"></i></a></td>
                                                <td class="fix">{[ screen.screen_name ]}
                                                </td>
                                                <td class="fix">{[ screen.address ]}</td>
                                                <td class="fix">{[ screen.screen_size ]}</td>
                                                <td class="fix">{[ screen.resolution ]}</td>
                                                <td class="fix">{[ screen.aspect_ratio ]}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>

                            </div>

                            <!--selected Screens-->
                            <div class="col-md-6">
                                <section class="panel panel-primary">
                                    <header class="panel-heading ">
                                        Selected Screens
                                    </header>
                                    <div class="table-responsive">
                                        <table class="table  table-hover table-advanced table-striped ">
                                            <thead style="overflow-y:scroll">
                                            <tr>
                                                <th>Select</th>
                                                <th class="fix">Screen Name</th>
                                                <th class="fix">Address</th>
                                                <th class="fix">Size</th>
                                                <th class="fix">Resolution</th>
                                                <th class="fix">Aspect Ratio</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                            </tr>
                                            </thead>
                                            <tbody style=" height: 230px;overflow-y: auto;width: 100%;">
                                            <tr ng-repeat="screen in modalGroupDetailsObj.screens">
                                                <td><a href="#" ng-click="moveScreenToSelectable(screen)"><i class="fa fa-minus-circle"></i></a></td>
                                                <td class="fix">{[ screen.screen_name ]}
                                                </td>
                                                <td class="fix">{[ screen.address ]}</td>
                                                <td class="fix">{[ screen.screen_size ]}</td>
                                                <td class="fix">{[ screen.resolution ]}</td>
                                                <td class="fix">{[ screen.aspect_ratio ]}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelGroupDetailsEdit()">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveGroupDetails()">Save</button>
                    </div>
                </div>
            </div>
        </div>