<!-- Modal-Add or edit screen details -->
        <div id="myModal" class="modal fade" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Screen Details</h4>
                    </div>
                    <div class="modal-body">
                        <form id="display_form" method="post" class="form-horizontal"
                              name="{{ form.form_name }}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <div class="col-sm-2">{{ field.label_tag }}</div>
                                <div class="col-sm-5">
                                    {{ field }}
                                </div>
                                <div class="help-block with-errors col-sm-3">
                                    {{ field.errors }}
                                </div>
                            </div>
                            {% endfor %}
                            <div class="form-group">
                                <label class="col-md-3 control-label">Groups</label>
                                <div class="col-md-9">
                                    <div id="tagsinput_tagsinput1" class="tagsinput " style="height: 100%;">
                                        <span class="tag" ng-repeat="group in modalScreenDetailsObj.groups">
                                            <span> {[ group.group_name ]} &nbsp;&nbsp;</span>
                                            <a class="tagsinput-remove-link" ng-click="removeGroupTagforScreen($index)"></a>
                                        </span>
                                        <div class="tagsinput-add-container">
                                            <div class="tagsinput-add" data-toggle="modal" data-target="#mdl-AddGroups"
                                                 ng-click="addGroupsToScreen()"></div>
                                            <input value="" data-default=""
                                                   style="color: rgb(102, 102, 102); width: 7px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelScreenDetailsEdit()">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveScreenDetails()">Save</button>
                    </div>
                </div>
            </div>
        </div>