{% extends 'masterLayout.html' %}
{% load staticfiles %}

{% block content%}

<script src="{% static 'CustomScripts/ScreenManagement-ang.js' %}"></script>
<section class="wrapper" ng-app="sagApp" ng-controller="groupCtrl">

    <div class="row">

        <div id="div-groupsList-wrapper" class="col-md-3 portlets col-fluid">
            <!-- Groups -->
            <div class="panel panel-default">
                <div class="panel-heading ">
                    <div class="pull-left">Groups</div>
                    <div class="widget-icons pull-right">
                        <a href="#" data-toggle="modal" data-target="#mdl-upsertGroup" class="wminimize"><i
                                class="fa fa-plus"></i>Add Group</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="item-search-row">
                    <div class="input-group">
                        <input class="form-control" placeholder="Search" type="text">
                        <span class="input-group-addon"><i class="fa fa-search"></i> </span>
                    </div>
                </div>

                <ul class="list-group" style="height:490px;overflow-y:scroll">
                    <li ng-repeat="group in groups" class="list-group-item" ng-class="{active: $index === selectedIndex }" ng-click="clickedOnGroup(group, $index)">
                        {[ group.groupName ]}
                        <i class="pull-right fa fa-pencil pointer" data-toggle="modal" data-target="#mdl-upsertGroup" ng-click="editGroupDetails(group, $index)"></i>
                    </li>

                </ul>

            </div>

        </div>

        <div class="col-md-3 col-fluid">
            <section class="panel panel-default">
                <header class="panel-heading">
                    Group Screens
                </header>
                <div class="table-responsive" style="height:500px">
                    <table class="table  table-hover table-advanced table-striped ">
                        <thead style="overflow-y:scroll">
                        <tr>
                            <th class="fix">Screen Name</th>
                            <th class="fix">City</th>
                            <th class="fix">Resolution</th>
                            <th class="fix">Accessible Users</th>
                            <th class="fix">Company name</th>
                            <th class="fix">DeviceId</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input type="form-control" placeholder="search"></th>
                            <th><input type="form-control" placeholder="search"></th>
                            <th><input type="form-control" placeholder="search"></th>
                            <th><input type="form-control" placeholder="search"></th>
                            <th><input type="form-control" placeholder="search"></th>
                            <th><input type="form-control" placeholder="search"></th>
                        </tr>
                        </thead>
                        <tbody style=" height: 230px;overflow-y: auto;width: 100%;">
                        <tr>
                            <td class="fix">Some Screen Name This is and this is some text to test</td>
                            <td class="fix">Hyderabad</td>
                            <td class="fix">42*34</td>
                            <td class="fix">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                    <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                    <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                </div>
                            </td>
                            <td class="fix">Blynq</td>
                            <td class="fix">ID0098749</td>
                        </tr>
                        <tr>
                            <td class="fix">Some Screen Name This is and this is some text to test</td>
                            <td class="fix">Hyderabad</td>
                            <td class="fix">42*34</td>
                            <td class="fix">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                    <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                    <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                </div>
                            </td>
                            <td class="fix">Blynq</td>
                            <td class="fix">ID0098749</td>
                        </tr>
                        <tr>
                            <td class="fix">Some Screen Name This is and this is some text to test</td>
                            <td class="fix">Hyderabad</td>
                            <td class="fix">42*34</td>
                            <td class="fix">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                    <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                    <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                </div>
                            </td>
                            <td class="fix">Blynq</td>
                            <td class="fix">ID0098749</td>
                        </tr>
                        <tr>
                            <td class="fix">Some Screen Name This is and this is some text to test</td>
                            <td class="fix">Hyderabad</td>
                            <td class="fix">42*34</td>
                            <td class="fix">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                    <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                    <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                </div>
                            </td>
                            <td class="fix">Blynq</td>
                            <td class="fix">ID0098749</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>

        <div class="col-md-6 col-fluid">
            <section class="panel panel-default">
                <header class="panel-heading">Schedules
                    <div class="widget-icons pull-right">
                        <a href="#"><i class="fa fa-plus"></i>Add Schedule</a>
                    </div>
                </header>
                <div class="panel-body" style="padding:0px;max-height: 500px;overflow-y:scroll">
                    <div class="table-responsive">
                        <table class="table  table-hover table-advanced table-striped ">
                            <thead>
                            <tr>
                                <th>Edit</th>
                                <th class="fix">ScheduleId</th>
                                <th class="fix">From</th>
                                <th class="fix">To</th>
                                <th class="fix">Repetitor Applied</th>
                                <th class="fix">Playlists</th>
                                <th class="fix">Playlist duration</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href=""><i class="fa fa-pencil"></i></a></td>
                                <td>SCH000923958</td>
                                <td>March 24th 5:00 PM</td>
                                <td>March 24th 9:00 PM</td>
                                <td>
                                    Monthly
                                </td>
                                <td>
                                    <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                                <span class="tag">
                                    <span> GroupName1 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <span class="tag">
                                    <span> Playlist 2 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        </span>
                                        <span class="tag">
                                    <span> Playlist 2 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>

                                        <div class="tagsinput-add-container" id="tagsinput_addTag1">
                                            <div class="tagsinput-add"></div>
                                            <input id="tagsinput_tag1" value="" data-default=""
                                                   style="color: rgb(102, 102, 102); width: 7px;">
                                        </div>
                                    </div>
                                </td>
                                <td>0H 5M 0S</td>
                            </tr>
                            <tr>
                                <td><a href=""><i class="fa fa-pencil"></i></a></td>
                                <td>SCH000923958</td>
                                <td>March 24th 5:00 PM</td>
                                <td>March 24th 9:00 PM</td>
                                <td>
                                    Monthly
                                </td>
                                <td>
                                    <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                                <span class="tag">
                                    <span> GroupName1 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <span class="tag">
                                    <span> Playlist 2 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <div class="tagsinput-add-container" id="tagsinput_addTag">
                                            <div class="tagsinput-add"></div>
                                            <input id="tagsinput_tag" value="" data-default=""
                                                   style="color: rgb(102, 102, 102); width: 7px;">
                                        </div>
                                    </div>
                                </td>
                                <td>0H 5M 0S</td>
                            </tr>
                            <tr>
                                <td><a href=""><i class="fa fa-pencil"></i></a></td>
                                <td>SCH000923958</td>
                                <td>March 24th 5:00 PM</td>
                                <td>March 24th 9:00 PM</td>
                                <td>
                                    Monthly
                                </td>
                                <td>
                                    <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                                <span class="tag">
                                    <span> GroupName1 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <span class="tag">
                                    <span> Playlist 2 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <div class="tagsinput-add-container" id="tagsinput_addTag">
                                            <div class="tagsinput-add"></div>
                                            <input id="tagsinput_tag" value="" data-default=""
                                                   style="color: rgb(102, 102, 102); width: 7px;">
                                        </div>
                                    </div>
                                </td>
                                <td>0H 5M 0S</td>
                            </tr>
                            <tr>
                                <td><a href=""><i class="fa fa-pencil"></i></a></td>
                                <td>SCH000923958</td>
                                <td>March 24th 5:00 PM</td>
                                <td>March 24th 9:00 PM</td>
                                <td>
                                    Monthly
                                </td>
                                <td>
                                    <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                                <span class="tag">
                                    <span> GroupName1 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <span class="tag">
                                    <span> Playlist 2 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <div class="tagsinput-add-container" id="tagsinput_addTag">
                                            <div class="tagsinput-add"></div>
                                            <input id="tagsinput_tag" value="" data-default=""
                                                   style="color: rgb(102, 102, 102); width: 7px;">
                                        </div>
                                    </div>
                                </td>
                                <td>0H 5M 0S</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="well" style="text-align: center">
                        No schedules available </br>
                        <a href="#">Add Playlist </a>
                        &&
                        <a href="#"> Schedule </a>
                    </div>
                </div>
            </section>
        </div>


        <!-- Modal-Upsert Group Details -->
        <div id="mdl-upsertGroup" class="modal fade" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-lg" style="width:1000px">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Group Details</h4>
                    </div>
                    <div class="modal-body" style="height:500px;overflow-y:scroll">
                        <div class="row">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="inputEmail1" class="col-md-3 control-label">Group Name</label>
                                    <div class="col-md-9">
                                        <div class="">
                                            <input type="text"
                                                   class="form-control" placeholder="Group Name" ng-model="modalGroupDetailsObj.groupName">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Group description</label>
                                    <div class="col-md-9">
                                        <textarea type="text"
                                                  class="form-control" id="inputEmail1" placeholder="This group consists of screens placed in the top floor."
                                                  ng-model="modalGroupDetailsObj.Description"></textarea>

                                    </div>
                                </div>
                            </form>
                        </div>


                        <div class="row" style="margin:10px">
                            <!--selected Screens-->
                            <div class="col-md-6">
                                <section class="panel panel-primary">
                                    <header class="panel-heading ">
                                        Group Screens
                                    </header>
                                    <div class="table-responsive">
                                        <table class="table  table-hover table-advanced table-striped ">
                                            <thead style="overflow-y:scroll">
                                            <tr>
                                                <th>Select</th>
                                                <th class="fix">Screen Name</th>
                                                <th class="fix">City</th>
                                                <th class="fix">Resolution</th>
                                                <th class="fix">Accessible Users</th>
                                                <th class="fix">Company name</th>
                                                <th class="fix">DeviceId</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                            </tr>
                                            </thead>
                                            <tbody style="height: 230px;overflow-y: auto;width: 100%;">
                                            <tr>
                                                <td><a href="#"><i class="fa fa-minus-circle"></i></a></td>
                                                <td class="fix">Some Screen Name This is and this is some text to test
                                                </td>
                                                <td class="fix">Hyderabad</td>
                                                <td class="fix">42*34</td>
                                                <td class="fix">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary" href="#"><i
                                                                class="icon_plus_alt2"></i></a>
                                                        <a class="btn btn-success" href="#"><i
                                                                class="icon_check_alt2"></i></a>
                                                        <a class="btn btn-danger" href="#"><i
                                                                class="icon_close_alt2"></i></a>
                                                    </div>
                                                </td>
                                                <td class="fix">Blynq</td>
                                                <td class="fix">ID0098749</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#"><i class="fa fa-minus-circle"></i></a></td>
                                                <td class="fix">Some Screen Name This is and this is some text to test
                                                </td>
                                                <td class="fix">Hyderabad</td>
                                                <td class="fix">42*34</td>
                                                <td class="fix">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary" href="#"><i
                                                                class="icon_plus_alt2"></i></a>
                                                        <a class="btn btn-success" href="#"><i
                                                                class="icon_check_alt2"></i></a>
                                                        <a class="btn btn-danger" href="#"><i
                                                                class="icon_close_alt2"></i></a>
                                                    </div>
                                                </td>
                                                <td class="fix">Blynq</td>
                                                <td class="fix">ID0098749</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#"><i class="fa fa-minus-circle"></i></a></td>
                                                <td class="fix">Some Screen Name This is and this is some text to test
                                                </td>
                                                <td class="fix">Hyderabad</td>
                                                <td class="fix">42*34</td>
                                                <td class="fix">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary" href="#"><i
                                                                class="icon_plus_alt2"></i></a>
                                                        <a class="btn btn-success" href="#"><i
                                                                class="icon_check_alt2"></i></a>
                                                        <a class="btn btn-danger" href="#"><i
                                                                class="icon_close_alt2"></i></a>
                                                    </div>
                                                </td>
                                                <td class="fix">Blynq</td>
                                                <td class="fix">ID0098749</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#"><i class="fa fa-minus-circle"></i></a></td>
                                                <td class="fix">Some Screen Name This is and this is some text to test
                                                </td>
                                                <td class="fix">Hyderabad</td>
                                                <td class="fix">42*34</td>
                                                <td class="fix">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary" href="#"><i
                                                                class="icon_plus_alt2"></i></a>
                                                        <a class="btn btn-success" href="#"><i
                                                                class="icon_check_alt2"></i></a>
                                                        <a class="btn btn-danger" href="#"><i
                                                                class="icon_close_alt2"></i></a>
                                                    </div>
                                                </td>
                                                <td class="fix">Blynq</td>
                                                <td class="fix">ID0098749</td>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </section>

                            </div>

                            <!--selectable Screens-->
                            <div class="col-md-6">
                                <section class="panel panel-primary">
                                    <header class="panel-heading ">
                                        Group ScreensS
                                    </header>
                                    <div class="table-responsive">
                                        <table class="table  table-hover table-advanced table-striped ">
                                            <thead style="overflow-y:scroll">
                                            <tr>
                                                <th>Select</th>
                                                <th class="fix">Screen Name</th>
                                                <th class="fix">City</th>
                                                <th class="fix">Resolution</th>
                                                <th class="fix">Accessible Users</th>
                                                <th class="fix">Company name</th>
                                                <th class="fix">DeviceId</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                                <th><input type="form-control" placeholder="search"></th>
                                            </tr>
                                            </thead>
                                            <tbody style=" height: 230px;overflow-y: auto;width: 100%;">
                                            <tr>
                                                <td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
                                                <td class="fix">Some Screen Name This is and this is some text to test
                                                </td>
                                                <td class="fix">Hyderabad</td>
                                                <td class="fix">42*34</td>
                                                <td class="fix">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary" href="#"><i
                                                                class="icon_plus_alt2"></i></a>
                                                        <a class="btn btn-success" href="#"><i
                                                                class="icon_check_alt2"></i></a>
                                                        <a class="btn btn-danger" href="#"><i
                                                                class="icon_close_alt2"></i></a>
                                                    </div>
                                                </td>
                                                <td class="fix">Blynq</td>
                                                <td class="fix">ID0098749</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
                                                <td class="fix">Some Screen Name This is and this is some text to test
                                                </td>
                                                <td class="fix">Hyderabad</td>
                                                <td class="fix">42*34</td>
                                                <td class="fix">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary" href="#"><i
                                                                class="icon_plus_alt2"></i></a>
                                                        <a class="btn btn-success" href="#"><i
                                                                class="icon_check_alt2"></i></a>
                                                        <a class="btn btn-danger" href="#"><i
                                                                class="icon_close_alt2"></i></a>
                                                    </div>
                                                </td>
                                                <td class="fix">Blynq</td>
                                                <td class="fix">ID0098749</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
                                                <td class="fix">Some Screen Name This is and this is some text to test
                                                </td>
                                                <td class="fix">Hyderabad</td>
                                                <td class="fix">42*34</td>
                                                <td class="fix">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary" href="#"><i
                                                                class="icon_plus_alt2"></i></a>
                                                        <a class="btn btn-success" href="#"><i
                                                                class="icon_check_alt2"></i></a>
                                                        <a class="btn btn-danger" href="#"><i
                                                                class="icon_close_alt2"></i></a>
                                                    </div>
                                                </td>
                                                <td class="fix">Blynq</td>
                                                <td class="fix">ID0098749</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
                                                <td class="fix">Some Screen Name This is and this is some text to test
                                                </td>
                                                <td class="fix">Hyderabad</td>
                                                <td class="fix">42*34</td>
                                                <td class="fix">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary" href="#"><i
                                                                class="icon_plus_alt2"></i></a>
                                                        <a class="btn btn-success" href="#"><i
                                                                class="icon_check_alt2"></i></a>
                                                        <a class="btn btn-danger" href="#"><i
                                                                class="icon_close_alt2"></i></a>
                                                    </div>
                                                </td>
                                                <td class="fix">Blynq</td>
                                                <td class="fix">ID0098749</td>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelGroupDetailsEdit()">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveGroupDetails()">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>



{% endblock content %}