{% extends 'masterLayout.html' %}
{% load staticfiles %}

{% block title %}Blynq Groups{% endblock %}

{% block content %}

<div id="divGroupsList" data-itemtype="Group" class="vertical-leftfloat-25 items-container">
    <div class="div-header">
        <h4><stron>Groups</stron></h4>
    </div>
    <ul class="list-group item-container-list">
        <li class="list-group-item" style="text-align:right"><a href="#" class="lnk-add-item"><span
                class="glyphicon glyphicon-plus">AddGroup</span></a>

            <div class="div-add-item" style="display:none">
                <form class="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="txtGroupName">Name</label>

                        <input type="text" name="groupName" class="form-control" id="txtGroupName"
                               placeholder="Enter Group name">
                        <!--<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>-->
                    </div>
                    <button type="button" class="btn btn-success submit-additem">Submit</button>
                    <button type="button" class="btn btn-default cancel-additem">Cacnel</button>
                </form>
            </div>
        </li>
        <li class="list-group-item active"><span>Group1</span></li>
        <li class="list-group-item" ><span>Group3</span></li>
        <li class="list-group-item" ><span>Group3</span></li>
    </ul>
</div>

<div id="divScreensList" data-itemtype="Screen" class="vertical-leftfloat-25 items-container">

    <div class="div-header">
        <h4><stron>Screens</stron></h4>
    </div>
    <ul class="list-group item-container-list">
        <li class="list-group-item" style="text-align:right"><a href="#" class="lnk-add-item"><span
                class="glyphicon glyphicon-plus">AddScreen</span></a>

            <div class="div-add-item" style="display:none">
                <form class="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="txtScreenName">Name</label>

                        <input type="text" name="groupName" class="form-control" id="txtScreenName"
                               placeholder="Enter Screen name">
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="txtActivationKey">Name</label>

                        <input type="text" name="groupName" class="form-control" id="txtActivationKey"
                               placeholder="Enter Screen Activation Key">
                        <!--<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>-->
                    </div>
                    <button type="button" class="btn btn-success submit-additem">Submit</button>
                    <button type="button" class="btn btn-default cancel-additem">Cancel</button>
                </form>
            </div>
        </li>
        <li class="list-group-item active"><span>Screen1</span></li>
        <li class="list-group-item"><span>Screen2</span></li>
        <li class="list-group-item"><span>Screen3</span></li>
        <li class="list-group-item"><span>Screen4</span></li>
    </ul>
</div>

<div id="divDetails" class="vertical-leftfloat-50 items-container">
    <div>
        <p>
            Active playlist for that group is shown here.
        </p>
    </div>
</div>

<script src="{% static 'CustomScripts/ScreenManagement.js' %}"></script>

{% endblock content %}
