{% extends 'masterLayout.html' %}
{% load staticfiles %}

{% block content%}
<section class="wrapper">
    <script src="{% static 'CustomScripts/ScreenManagement-ang.js' %}"></script>
    <div class="row" ng-app="sagApp" ng-controller="screenCtrl">
        <!-- List of all screens -->
        <div class="col-md-6 col-fluid">
            <section class="panel panel-default">
                <header class="panel-heading">Screens
                    <div class="widget-icons pull-right">
                        <a data-toggle="modal" data-target="#myModal" ng-click="addNewScreen()"><i class="fa fa-plus"></i>Add Screen</a>
                    </div>
                </header>
                <div class="table-responsive" style="height: 520px">
                    <table class="table  table-hover table-advanced table-striped ">
                        <thead style="overflow-y:scroll">
                            <tr>
                            <th>Edit</th>
                            <th>Status</th>
                            <th class="fix">Screen Name</th>
                            <th class="fix">Address</th>
                            <th class="fix">Resolution</th>
                            <th class="fix">Groups</th>
                            <th class="fix">Screen Size</th>
                        </tr>
                            <tr>
                            <th></th>
                            <th></th>
                            <th><input type="form-control" ng-model="searchScreens.screenName" placeholder="search Name"></th>
                            <th><input type="form-control" ng-model="searchScreens.city" placeholder="search"></th>
                            <th><input type="form-control" ng-model="searchScreens.resolution" placeholder="search"></th>
                            <th><input type="form-control" ng-model="searchScreens.groups.groupName" placeholder="search"></th>
                            <th><input type="form-control" ng-model="searchScreens.comapny" placeholder="search"></th>
                        </tr>
                        </thead>
                        <tbody style=" height: 230px;overflow-y: auto;width: 100%;">
                        <tr ng-repeat="screen in screens | filter: searchScreens">
                            <td><a href="#" data-toggle="modal" data-target="#myModal" ng-click="editScreenDetails($index)"><i class="fa fa-pencil pointer"></i> </a></td>
                            <td><i class="fa fa-circle online"></i>{[ screen.status ]} </td>
                            <td class="fix">{[ screen.screen_name ]}</td>
                            <td class="fix">{[ screen.address ]}</td>
                            <td class="fix">{[screen.resolution]}</td>
                            <td class="fix">
                                <div  class="tagsinput " style="height: 100%;">
                                    <span class="tag" ng-repeat="group in screen.groups">
                                    <span> {[group.group_name]} &nbsp;&nbsp;</span>
                                    <!--<a class="tagsinput-remove-link"></a>-->
                                    </span>

                                </span>
                                </div>
                            </td>
                            <td class="fix">{[ screen.screen_size ]}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </section>
        </div>

        <!-- List of all schedules for the selected screen -->
        <div class="col-md-6">
            <section class="panel panel-default">
                <header class="panel-heading">Schedules
                    <div class="widget-icons pull-right">
                        <a href="#"><i class="fa fa-plus"></i>Add Schedule</a>
                    </div>

                </header>
                <div class="panel-body" style="padding:0px;max-height: 500px;overflow-y:scroll">
                    <div class="table-responsive" style="height:540px">

                        <table class="table  table-hover table-advanced table-striped ">
                            <thead>
                            <tr>
                                <th>Edit</th>
                                <th class="fix">ScheduleId</th>
                                <th class="fix">From</th>
                                <th class="fix">To</th>
                                <th class="fix">Repetitor Applied</th>
                                <th class="fix">Playlists</th>
                                <th class="fix">Playlist duration</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                                <th><input type="form-control" placeholder="search"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href=""><i class="fa fa-pencil"></i></a></td>
                                <td>SCH000923958</td>
                                <td>March 24th 5:00 PM</td>
                                <td>March 24th 9:00 PM</td>
                                <td>
                                    Monthly
                                </td>
                                <td>
                                    <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                                <span class="tag">
                                    <span> GroupName1 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <span class="tag">
                                    <span> Playlist 2 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        </span>
                                        <span class="tag">
                                    <span> Playlist 2 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>

                                        <div class="tagsinput-add-container" id="tagsinput_addTag1">
                                            <div class="tagsinput-add"></div>
                                            <input id="tagsinput_tag1" value="" data-default=""
                                                   style="color: rgb(102, 102, 102); width: 7px;">
                                        </div>
                                    </div>
                                </td>
                                <td>0H 5M 0S</td>
                            </tr>
                            <tr>
                                <td><a href=""><i class="fa fa-pencil"></i></a></td>
                                <td>SCH000923958</td>
                                <td>March 24th 5:00 PM</td>
                                <td>March 24th 9:00 PM</td>
                                <td>
                                    Monthly
                                </td>
                                <td>
                                    <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                                <span class="tag">
                                    <span> GroupName1 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <span class="tag">
                                    <span> Playlist 2 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <div class="tagsinput-add-container" id="tagsinput_addTag">
                                            <div class="tagsinput-add"></div>
                                            <input id="tagsinput_tag" value="" data-default=""
                                                   style="color: rgb(102, 102, 102); width: 7px;">
                                        </div>
                                    </div>
                                </td>
                                <td>0H 5M 0S</td>
                            </tr>
                            <tr>
                                <td><a href=""><i class="fa fa-pencil"></i></a></td>
                                <td>SCH000923958</td>
                                <td>March 24th 5:00 PM</td>
                                <td>March 24th 9:00 PM</td>
                                <td>
                                    Monthly
                                </td>
                                <td>
                                    <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                                <span class="tag">
                                    <span> GroupName1 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <span class="tag">
                                    <span> Playlist 2 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <div class="tagsinput-add-container" id="tagsinput_addTag">
                                            <div class="tagsinput-add"></div>
                                            <input id="tagsinput_tag" value="" data-default=""
                                                   style="color: rgb(102, 102, 102); width: 7px;">
                                        </div>
                                    </div>
                                </td>
                                <td>0H 5M 0S</td>
                            </tr>
                            <tr>
                                <td><a href=""><i class="fa fa-pencil"></i></a></td>
                                <td>SCH000923958</td>
                                <td>March 24th 5:00 PM</td>
                                <td>March 24th 9:00 PM</td>
                                <td>
                                    Monthly
                                </td>
                                <td>
                                    <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                                <span class="tag">
                                    <span> GroupName1 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <span class="tag">
                                    <span> Playlist 2 &nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                        <div class="tagsinput-add-container" id="tagsinput_addTag">
                                            <div class="tagsinput-add"></div>
                                            <input id="tagsinput_tag" value="" data-default=""
                                                   style="color: rgb(102, 102, 102); width: 7px;">
                                        </div>
                                    </div>
                                </td>
                                <td>0H 5M 0S</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="well" style="text-align: center">
                        No schedules available </br>
                        <a href="#">Add Playlist   </a>
                        &&
                        <a href="#"> Schedule  </a>
                    </div>
                </div>
            </section>
        </div>

        <!-- Modal-Add or edit screen details -->
        {% include "screen/_screenDetailsForm.html" %}

        <!-- Modal-Add groups to screen -->
        <div id="mdl-AddGroups" class="modal fade" role="dialog" data-backdrop="static">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <section class="panel panel-default">
                                            <header class="panel-heading">Selectable Groups</header>
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="group in selectableGroups">
                                                    <a href="" ng-click="moveGroupToSelected(group)"><i class="fa fa-plus-circle"></i> </a> {[ group.group_name ]}
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col-md-6">
                                        <section class="panel panel-default">
                                            <header class="panel-heading">Selected Groups</header>
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="group in modalScreenDetailsObj.groups ">
                                                    <a href="#" ng-click="moveGroupToSelectable(group)"><i class="fa fa-minus-circle"></i> </a> {[ group.group_name ]}
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a  href="#"  class="btn btn-default" data-dismiss="modal" ng-click="saveGroups()">ok</a>
                            </div>
                        </div>
                    </div>
                </div>
    </div>


</section>
{% endblock content %}