
.custom-nav-sidebar{



}

.items-container{
height:100%;
float:left;
border: 1px solid #333;
border-radius:2px
}

.vertical-leftfloat-50{
width:50%;
}

.vertical-leftfloat-25{
width:25%;
}

.vertical-leftfloat-5{
width:5%;
}

.vertical-leftfloat-15{
width:15%;
}

.vertical-leftfloat-70{
width:70%;
}

.div-header{
height: 8%;
width: 100%;
margin:0px;
padding : 5px 10px;
text-align:left;
background-color: #f1f1f1;
border-bottom: 1px solid #666;
border-color: #e5e5e5;
box-shadow : 0 3px 3px -3px #666;
}


.items-container-list li {
float:left
text-align: left;
cursor: pointer
}

/*.list-group-item:hover{
background-color : #5C6B77;
color : #fff;
}*/

.item-container-wrap{
height: 155px;
width: 130px;
padding : 0px;
margin : 3px;
/*background-color: #f1f1f1;*/
border:solid 1px #e5e5e5;
float : left;
}

div.item-container-wrap:hover, div.layout-info-wrapper:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed
}

.item-container, .folder-container{
margin: 0px;
padding : 3px;
height : 100px;
width : 130px;
position : relative;
}

.item-container-header{
height: 25px;
padding: 3px;
overflow : hidden;
position : relative;
}

.item-container > img, .folder-container > img{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

.item-container-footer{
    height: 25px;
    width : 100%;
    padding: 2px 10px 5px 10px
}

.item-container .widget-icon{
    position : absolute;
    color : blue;
    top : 10px;
    right : 5px;
}

.highlight-acceptable{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #9ecaed;
    }

/*Content Management Page*/

.div-content-container{

}

.div-folder-path{
height : 34px;
padding : 6px 12px;
border :
background-color: #fff;
background-img : none;
box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
}

/* Schedule Page*/

.ms-list-container-wrap{
height : 400px;
float: left;
}

.ms-list-container{
border:1px solid #6F6767;
height : 200px;
width : 40%;
border-radius:2px;
float : left;
}

.ms-buttons-wrap{
padding: 1px;
width:10%;
float : left;
text-align: center;
margin: 0 auto;
}

.ms-list-container .selected{
background-color : #2E6DA4;
color : #fff;
}


/*after template */
.panel .panel-heading.panel-heading-custom{
font-size : 20px;
min-height : 50px;
line-height : 50px;
}


.wrapper.wrapper-fluid{
padding: 0px;
min-height : 500px;

}

div[class^="col-"].col-fluid{
padding: 0px;
position : relative;
}

.col-fluid .panel.panel-default{
height : 100%;
border-right:1px solid grey
}

/*.listContainer{
    height:100%;
    overflow-y: scroll;
}*/

html, body{
height : 100%;
padding: 0px;
margin : 0px;
}

.list-group .list-group-item:first-child,.list-group .list-group-item:last-child {
    border-radius:0px;
}

.fa.online{color:#00FF00;}

.fa.offline{color:#CCC }

.fa.online-and-offline{
    color: transparent;
    background: linear-gradient(to right, #868789 0%, #868789 50%, #00FF00 50%, #00FF00 100%);
    border-radius: 50%;
}

.item-search-row{
height : 50px;
padding: 5px;
border-bottom:1px solid grey;
}

.absolute-fluid{
    position: absolute;
    width: 100%;
    bottom: 0px;
    top:50px;
}

.absolute-fluid .list-group
{
overflow-y:scroll;
height : 100%
}

div.div-underline{
border-bottom: 1px solid #c7c7cc;
padding: 2px,0px
}

.input-group .input-group-addon.tooltips, .div-underline .fa{
cursor: pointer;
}

.table-responsive{
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y:scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
    }


.table-responsive .table td.fix,
.table-responsive .table th.fix{
min-width : 200px;
}

#div_screens_list tr.active{
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2b669a 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #2b669a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2b669a 100%);
    background-repeat: repeat-x;
    background-color : red;
    border-color: #2b669a;
    color : #fff
}

#div_screens_list tr.active>td{
    background : inherit;
}

.pointer{
cursor:pointer
}

.right-absolute{
    position : absolute;
    top : 3px;
    right : 3px;
}

.fill{
    height : 100%
}

.fixed {
    position : fixed;
}

.relative{
    position : relative;
}

.content-container{
    position : absolute;
    top: 53px;
    bottom:0px;
    width:100%
}

.fixed-wrapper{
    width: auto;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left : 180px;
    right : 0px;
    padding-bottom: 0px;
}

.listContainer {
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    top: 86px;
    bottom: 0px;
}

.overflow-y{
    overflow : scroll;
}

.input-short{
    display : inline;
    width : auto;
}
.content-detail-mdl{
    width : 100%;
    height: 500px;
}

.content-detail-container{
    text-align : center;
    height: 100%;
    width: 100%;
}

.content-detail-container iframe{
    width : 100%;
    background : white;
    min-height : 500px
}

.max-fit{
    height  : 100%;
    width   : 100%;
    object-fit : contain;
}

.slider-link{
    position : absolute;
    height: 90%;
    width : 50px;
    top: 0px;
    background:white;
    opacity: .3;
    cursor : pointer;
    z-index : 1050;
}

.slider-link-right{
    right : 0px;
}

.slider-icon{
    font : 25px;
    position:absolute;
    top:50%;
    left:50%;
}

/* Angualr-resizable*/

.template-canvas{
    width : 480px;
    height : 270px;
    border: 2px solid #333;
}

.template-canvas-content{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: space-around;
    padding: $spacing/2;
}

.layout-row{
    min-height: 50px;
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: space-around;
    &.resizable {
        flex: 0 0 300px;
    }
}

.layout-pane{

    box-sizing: border-box;
    border-radius: 5px;
    padding: 1.25em 1.75em;
    background: #ddd;
    border: $spacing/2 solid #fff;
    flex: 1;
    min-width: 30px;
    &.resizable {
        flex: 0 0 300px;
    }
}

#one { background: #607466; color: darken($color4, 30); }
#two { background: #7bd389; color: darken($color3, 30); }
#three { background: #aedcc0; color: darken($color5, 30); }
#four { background: url(http://publicdomainarchive.com/wp-content/uploads/2014/12/public-domain-images-free-stock-photos-high-quality-resolution-downloads-public-domain-archive-7-1000x665.jpg); }

/* end- Angualr-resizable*/


fieldset.custom-field-set {
    border: 1px groove #ddd !important;
    padding: 0 10px 10px 10px !important;
    margin: 0 0 10px 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.custom-field-set {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size : 14px;
}

/* layout designer */

.designer-wrapper{
    display: inline-block;
    margin-top: 60px;
    width: 100%;
}

.designer-wrapper-expand{
    position : absolute;
    height : calc(100vh - 62px);
    width : calc(100vw - 182px);
}

.toolbar-wrapper{
    border : 2px solid grey;
    height : 45px;
    display : block;
    padding : 3px 12px;
}

.workspace-wrapper{
    position : absolute;
    top : 45px;
    height : calc(100vh - 61px - 45px);
    width : 300px;
    border : 1px solid grey;
    overflow : scroll;
    background : white;
}

.editor-wrapper{
    position : absolute;
    top : 45px;
    left : 300px;
    height : calc(100vh - 61px - 45px);
    width : calc(100vw - 180px - 300px);
    border : 2px solid grey;
    padding : 10px;
    background : #f8f8f8;
    opacity : .5;
    overflow : auto;
}

/* toolBar -css */
.toolbar-wrapper .padder{

}

/* end-toolBar -css */

/* workspace- css*/
.workspace-wrapper .padder{
    padding : 10px;
}

.workspace-wrapper .input-field{
    padding : 4px 6px;
}
/* end-workspace- css*/

/* editor- css*/
.editor-wrapper .canvas-wrapper{
    position : relative;
    height : 100%;
    width : 60%;
    overflow : auto;
    padding : 15px 5%;
    margin : 0 auto;
}

.editor-wrapper .canvas{
    position : absolute;
    width : 90%;
    background : #717506;
    -webkit-box-shadow: 10px 10px 26px 9px rgba(0,0,0,0.7);
    -moz-box-shadow: 10px 10px 26px 9px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);
}

.pane{
    background : black;
    position : absolute;
    opacity : 0.5;
    border : 1px solid red;
}


.active-pane{
    background : white;
    opacity : 1;
    cursor : move;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.pane-description-tag{
    text-align : center;
    overflow : hidden;
}

.pane-description-tag p{
    color : black;
}

.pane-editing-tag{
    position : absolute;
    bottom : 0px;
    width : 100%;
    background : grey;
    color : green;
    height : 20px;
    overflow : hidden;
    text-align : center;
}

/* end editor- css*/

/* layout preview */

.layout-preview-wrapper{
    position : relative;
    width : 200px;
    height : 200px;
    border : 1px solid black;
}

.layout-info-wrapper{
    padding : 5px;
    width : 210px;
    height : 260px;
    border:solid 1px #e5e5e5;
    float : left;
    margin : 10px;
}

.layout-info-header, .layout-info-header{
    padding : 0px 5px;
    overflow : hidden;
    max-height : 25px;
}

/* end layout preview */

/* layout designer*/


.dropdown-menu i{
    margin-right : 5px
}

.form-group .validation-error{
    color : red;
}

/* Reports section */

.chart-div{
    margin : 20px 0
}

/* filters side nav */
.filters-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #fff;
    position: absolute;
    top : 0;
    bottom : 0;
    overflow: auto;
}

.filters-nav li {
    display: block;
    padding: 16px 30px;
    text-decoration: none;
    cursor : pointer;
    font-size : 16px;
}


.filters-nav li:hover:not(.active) {
    background-color: #337ab7;
    color: white;
    border : 1px solid  #337ab7;
}

.filter-properties{
    margin-left : 25%;
    padding: 0 20px;
    height : 400px;
    overflow : auto;
}

.filter-properties table.selectable-list{
    background-color : #fff;
}

.selectable-list .selected{
    background-color : #528c52;
    color : #fff
}

.selectable-list .fa-check{
    font-size : 16px;
    color : #fff;
}

/* filters text box*/
.filters-textbox{
    font-size : 11px;
    max-height : 100px;
    overflow : auto;
}

.filters-textbox .badge{
    font-weight : 400;
    border-radius : 0px;
}

.filters-textbox .badge i{
    margin-left : 2px;
    margin-bottom : 2px;
    border-left : 1px solid #fff;
    padding-left : 2px;
    cursor : pointer
}

.filters-textbox span.badge{
    margin-bottom: 2px;
    margin-right : 2px;
}

.filters-textbox .filter-names-holder{
    display : inline
}

.stretch{
    height:100%;
    width:100%;
}

/* content view */

.media-wrapper{
    height: 100%;
    width : 100%;
    text-align:center;
    position: relative;
}

.media-wrapper.rss-text{
    background: black;
    color : white;
}

.media-content{
    object-fit: contain;
    height: 100%;
    width : 100%;
}

.media-content.img{
    position: absolute;
    top:0px;
    left:0px;
}

.img-blur{
    object-fit: fill;
    filter: blur(10px);
    position: relative;
}

.media-content.video{
    object-fit: fill;
}



/* Preview */
.preview-tv{
    position: relative;
    padding : 20px 20px 35px 20px;
    background-image: -webkit-linear-gradient(-45deg, rgb(76, 76, 76) 0px, rgb(89, 89, 89) 12%, 
        rgb(102, 102, 102) 25%, rgb(71, 71, 71) 39%, rgb(44, 44, 44) 50%, rgb(0, 0, 0) 50%, 
        rgb(17, 17, 17) 60%, rgb(43, 43, 43) 76%, rgb(28, 28, 28) 91%, rgb(19, 19, 19) 100%);

    background-image : --o-linear-gradient(-45deg, rgb(76, 76, 76) 0px, rgb(89, 89, 89) 12%,
        rgb(102, 102, 102) 25%, rgb(71, 71, 71) 39%, rgb(44, 44, 44) 50%, rgb(0, 0, 0) 50%,
        rgb(17, 17, 17) 60%, rgb(43, 43, 43) 76%, rgb(28, 28, 28) 91%, rgb(19, 19, 19) 100%);
    background-image : -moz-linear-gradient(-45deg, rgb(76, 76, 76) 0px, rgb(89, 89, 89) 12%,
        rgb(102, 102, 102) 25%, rgb(71, 71, 71) 39%, rgb(44, 44, 44) 50%, rgb(0, 0, 0) 50%,
        rgb(17, 17, 17) 60%, rgb(43, 43, 43) 76%, rgb(28, 28, 28) 91%, rgb(19, 19, 19) 100%);
    background-image : linear-gradient(-45deg, rgb(76, 76, 76) 0px, rgb(89, 89, 89) 12%,
        rgb(102, 102, 102) 25%, rgb(71, 71, 71) 39%, rgb(44, 44, 44) 50%, rgb(0, 0, 0) 50%,
        rgb(17, 17, 17) 60%, rgb(43, 43, 43) 76%, rgb(28, 28, 28) 91%, rgb(19, 19, 19) 100%);        
}

