{% extends 'masterLayout.html' %}
{% load staticfiles %}

{% block content%}
<section class="wrapper" ng-app="plApp" ng-controller="plCtrl">
    <script src="{% static 'CustomScripts/PlaylistManagement-ang.js' %}"></script>


    <div class="row" >
        <!-- List of all Playlists -->
        <div class="col-md-2 col-fluid">
            <div class="panel panel-default" style="border-right:1px solid grey">
                <div class="panel-heading ">
                    <div class="pull-left">Playlists</div>
                    <div class="widget-icons pull-right">
                        <a href="#" data-toggle="modal" data-target="#mdl-addNewPlaylist"
                           ng-click="addPlyalist()" class="wminimize"><i class="fa fa-plus"></i>AddPlyalist</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="item-search-row">
                    <div class="input-group">
                        <input class="form-control" placeholder="Search" type="text"
                               ng-model="searchPlaylists.playlistName">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <ul class="list-group" style="height:490px;overflow-y:scroll">
                    <li ng-repeat="playlist in playlists | filter: searchPlaylists" class="list-group-item"
                        ng-class="{active: $index === activePlaylistIndex }"
                        ng-click="clickedOnPlaylist(playlist, $index)">
                        {[ playlist.playlistName ]}
                        <i class="pull-right fa fa-trash-o pointer" data-target="#mdl-deletePlaylist"
                           data-toggle="modal"></i>
                    </li>
                </ul>
            </div>
        </div>

        <!-- List of Playlist Queue Items -->
        <div id="div-playlistQueue" class="col-md-2 col-fluid" style="z-index:0">
            <div class="panel panel-default" style="border-right:1px solid grey">
                <div class="panel-heading ">
                    <div class="pull-left">Playlist Queue</div>
                    <div class="widget-icons pull-right" ng-show="!playlistQueueEditMode">
                        <a href="#" ng-click="editPlaylist()" class="wminimize"><i
                                class="fa fa-pencil"></i>Edit</a>
                    </div>
                    <div class="widget-icons pull-right" ng-show="playlistQueueEditMode">
                        <a href="#" class="wminimize" ng-click="savePlaylistQueueItems()"><i
                                class="fa fa-check"></i>Save</a>
                        <a href="#" class="wminimize" ng-click="cancelPlaylistQueueItemsEdit()"><i
                                class="fa fa-times"></i>Cancel</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="item-search-row">
                    <div class="input-group">
                        <input class="form-control" placeholder="Search" type="text"
                               ng-model="searchPlaylistQueue.queueItemName">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <ul id="ul-playlistQueue" class="list-group" style="height:490px;overflow-y:scroll"
                    data-as-sortable="board.dragControlListeners"
                    is-disabled="false"
                    data-ng-model="activePlaylistObj.queueItems"
                    droppable>
                    <li ng-repeat="item in activePlaylistObj.queueItems | filter: searchPlaylistQueue"
                        class="list-group-item"
                        ng-class="{active: $index === activeQueueItemIndex }"
                        ng-click="clickedOnQueueItem($index)"
                        style="padding:2px 5px"
                        data-as-sortable-item>
                        <i class="fa fa-ellipsis-v" data-as-sortable-item-handle></i>
                        {[ item.queueItemName ]}
                        <i class="pull-right fa fa-times pointer" ng-click="reomveQueueItem($index)"
                           ng-show="playlistQueueEditMode"></i>
                        </br>
                        <span style="font-size:11px">{[ item.queueItemDuration ]}</span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Item Details form -->
        <div class="col-md-4 col-fluid" ng-show="showQueueItemDetails">
            <div class="panel panel-default" style="border-right:1px solid grey">
                <div class="panel-heading ">
                    <div class="pull-left">Item Details</div>
                </div>
                <div class="panel-body">
                    <div class="item-container" style="width:50%; margin:0 auto">
                        <img src="{% static 'images/nba.jpg' %}">
                    </div>
                    <form class="form-horizontal" role="form" style="height: 400px;overflow-y:scroll">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Item Name</label>
                            <div class="col-md-9">
                                <div class="form-control-static">
                                    {[ activeQueueItem.queueItemName ]}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Resolution</label>
                            <div class="col-md-9">
                                <div class="form-control-static">
                                    {[ activeQueueItem.itemResolution ]}
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="!playlistQueueEditMode">
                            <label class="col-md-3 control-label">Duration</label>
                            <div class="col-md-9">
                                <div class="form-control-static">
                                    {[ activeQueueItem.queueItemDuration ]}
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="playlistQueueEditMode">
                            <label class="col-md-3 control-label">Duration</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="3h 5m 29s"
                                       ng-model="activeQueueItem.queueItemDuration">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-8" ng-show="playlistQueueEditMode">
                                <!--<button type="button" class="btn btn-default pull-right" ng-click="cancelItemDurationUpdate()">
                                    Close
                                </button>-->
                                <button type="button" class="btn btn-success pull-right"
                                        ng-click="saveItemDurationUpdate()">Save and close
                                </button>
                            </div>
                            <div class="col-md-offset-3 col-md-8" ng-show="!playlistQueueEditMode">
                                <button type="button" class="btn btn-default pull-right"
                                        ng-click="closeQueueItemDetails()">Close
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>

        <!-- Content div -->
        <div class="col-md-8">
            {% include 'contentManagement/content_holder.html' %}
        </div>


    </div>

    <div id="mdl-addNewPlaylist" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Playlsit Name</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Playlist Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="playlist name"
                                       ng-model="activePlaylistObj.playlistName">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success " data-dismiss="modal" ng-click="saveAddPlaylist()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelAddPlaylist()">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}