<!-- Modal-Create Folder -->
<!-- Modal content-->
<div class="">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Create Folder</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="createFolderForm">
            <div class="form-group">
                <label class="col-md-4 control-label">Folder Name*</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="title"
                           placeholder="title" ng-model="folderObj.title"
                           name="folderTitle" required>
                </div>
                <div class="col-md-offset-4 col-md-7"
                     ng-show="createFolderForm.folderTitle.$touched && createFolderForm.folderTitle.$invalid">
                    This field is required.
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"  ng-click="cancel()">
            Cancel
        </button>
        <button type="button" class="btn btn-success" ng-disabled="createFolderForm.$invalid"
                 ng-click="create()">Create
        </button>
    </div>
</div>
