<!-- Modal to upload files into Cloud -->
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Content</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">File Upload</label>
                <div class="col-sm-10">
                    <input type="file" file-upload-dtv class="form-control" multiple>
                </div>
            </div>
        </form>
        <div class="progress progress-striped active progress-sm">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                 aria-valuemax="100" style="width: {[uploadProgressIndicator]}%">
                <span class="sr-only">{[uploadProgressIndicator ]} complete</span>
            </div>
        </div>

        <div class="row" ng-show="invalidFiles.length>0">
            <div class="col-md-12">
                <h4>Invalid Files</h4>
                <ul>
                    <li ng-repeat="file in invalidFiles">
                        {[ file.name ]}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="uploadFiles()">Upload</button>
    </div>
</div>
