<!--<div class="splash-content text-center">-->
<div class="content-detail-mdl">
    <!-- Based on the type of file, implement that viewer-->

    <a class="slider-link" ng-click="previousSlide()">
        <div class="slider-icon">
             <i class="fa fa-caret-left "></i>
        </div>
    </a>

    <media-player media-file="file">
    </media-player>

    <a class="slider-link slider-link-right" ng-click="nextSlide()">
        <div class="slider-icon">
             <i class="fa fa-caret-right "></i>
        </div>
    </a>
</div>