<!--<div class="splash-content text-center">-->
<div>
    <!-- Based on the type of file, implement that viewer-->

    <!-- image-->
    <div ng-if="file.content_type.indexOf('image')>-1" class="content-detail-container">
        <img ng-src="{[ file.url]}" class="max-fit">
    </div>
    <!-- pdf -->
    <div ng-if="file.content_type.indexOf('pdf')>-1" class="content-detail-container">
        <pdf-section class="max-fit">
            <button ng-click="prevPage()">&lt;</button>
            <button ng-click="nextPage()">&gt;</button>
            <br>
            <span>{[currentPage]}/{[totalPages]}</span>
            <br>
            <pdfviewer src="{[ file.url | trusted ]}" on-page-load='pageLoaded(page,total)' id="viewer"></pdfviewer>
        </pdf-section>
    </div>
    <!-- video -->
    <div ng-if="file.content_type.indexOf('video')>-1" class="content-detail-container">
        <video controls class="max-fit">
            <source ng-src="{[file.url | trusted]}">
            Your browser does not support HTML5 video.
        </video>
    </div>

    <!-- url, that is not image, pdf, video. Hence, shown in iframe-->
    <div ng-if="file.content_type == 'url'" class="content-detail-container">
        <iframe ng-src="{[ file.url | trusted]}"></iframe>
    </div>
</div>