<!-- Modal-Upsert URl -->
<!-- Modal content-->
<div class="">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">{[modalTitle]}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="widgetUpsertForm">
            <div class="form-group">
                <label class="col-md-2 control-label">Title*</label>
                <div class="col-md-9">
                    <input type="text" class="form-control"
                           placeholder="title" ng-model="widgetObj.title"
                           name="widgetTitle" required>
                </div>
                <div class="col-md-offset-2 col-md-7"
                     ng-show="widgetUpsertForm.widgetTitle.$touched && widgetUpsertForm.widgetTitle.$invalid">
                    This field is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Widget Text/ URL*</label>
                <div class="col-md-9">
                    <input type="text" class="form-control"
                           placeholder="" ng-model="widgetObj.text"
                           name="text" required>
                </div>
                <div class="col-md-offset-2 col-md-9"
                     ng-show="widgetUpsertForm.text.$touched && widgetUpsertForm.text.$invalid">
                    This field is required.
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"  ng-click="cancel()">
            Cancel
        </button>
        <button type="button" class="btn btn-success" ng-disabled="widgetUpsertForm.$invalid"
                 ng-click="save()">{[ saveVerbose ]}
        </button>
    </div>
</div>
