<section ng-controller="ctCtrl" class="fill">
    <!-- Folder Path -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li ng-repeat="folder in folderPath" ng-click="navigateToFolder(folder.content_id)">
                    <a href="">
                        <i class="fa" ng-class="{'fa-folder-open' : $last, 'fa-folder': !$last}"></i>
                        {[ folder.title ]}
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <!-- Content Library -->
    <div class="row content-container">
        <div class="col-md-12 fill">
            <div class="panel panel-default fill" >
                <div class="panel-heading">
                    Content
                    <div class="btn-group pull-right" style="margin-left:5px;" uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-danger" uib-dropdown-toggle
                                ng-disabled="disabled">
                            Action<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a ng-click="moveContent()">Move to folder</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a confirm confirm-type="delete" confirm-fn="deleteMultipleContents()">Delete</a></li>
                        </ul>
                    </div>
                    <button class="btn  btn-primary pull-right" style="margin-left:5px;" ng-click="upload()">Upload
                    </button>
                    <button class="btn btn-primary pull-right" ng-click="createFolder()">Create
                        Folder
                    </button>
                </div>
                <div class="panel-body fill overflow-y" >
                    <!-- Folders -->
                    <div content-droppable class="item-container-wrap" ng-repeat="folder in folders"
                         data-index="{[$index]}">
                        <div class="div-draggable-wrap" draggable data-index="{[$index]}"
                             data-isFolder="{[folder.is_folder]}">
                            <div class="item-container-header">
                                {[ folder.title ]}
                                    <input type="checkbox" class=" pull-right" value="None" name="check"
                                    ng-checked="checkedFolders.indexOf(index) > -1"
                                    ng-click="toggleCheck('folder', $index)"/>
                            </div>
                            <div class="folder-container" ng-click="navigateToFolder(folder.content_id)">
                                <img ng-src="{[ fileIcons.folder ]}">
                            </div>
                        </div>
                        <div class="item-container-footer">
                                <span class="pull-right">
                                    <a confirm confirm-fn="deleteSingleContent(folder.content_id)" confirm-type="delete">
                                        <i class="fa fa-trash-o pointer"></i>
                                    </a>
                                </span>
                            <a ng-click="editTitle(folder)">
                                <i class="fa fa-pencil pointer"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Files -->
                    <div class="item-container-wrap"
                         ng-repeat="file in files">
                        <div class="div-draggable-wrap" draggable data-index="{[$index]}"
                             data-isfolder="{[file.is_folder]}">
                            <div class="item-container-header">
                                {[ file.title ]}
                                <input class="pull-right" type="checkbox"
                                    ng-checked="checkedFolders.indexOf(index) > -1"
                                    ng-click="toggleCheck('file', $index)"/>
                            </div>
                            <div class="item-container" ng-click="viewContentInDetail(file)">
                                <img ng-if="file.document_type.indexOf('image')>-1" ng-src="{[ file.url ]}">
                                <img ng-if="file.document_type.indexOf('pdf')>-1" ng-src="{[ fileIcons.pdf ]}">
                                <img ng-if="file.document_type.indexOf('video')>-1" ng-src="{[ fileIcons.video ]}">
                                <!--TODO CREATE DIVS BASED ON CONTENT TYPE-->
                                <!--<video controls>
                                    <source ng-src ="{[ file.url ]}" type="video/mp4">
                                </video>-->
                            </div>
                        </div>
                        <div class="item-container-footer">
                            <div class=>
                                <span class="pull-right">
                                    <a confirm-fn="deleteSingleContent(file.content_id)" confirm confirm-type="delete">
                                        <i class="fa fa-trash-o pointer"></i></a></span>
                                <a ng-click="editTitle(file)">
                                    <i class="fa fa-pencil pointer"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>