<section class="fill">
    <!-- Content Library -->
    <div class="row content-container">
        <div class="col-md-12 fill overflow-y">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Content">
                    <div class="panel fill">
                        <div class="panel-body fill overflow-y">
                            <!-- Folder Path -->
                            <div class="row">
                                <div class="col-md-12">
                                    <ol class="breadcrumb">
                                        <li ng-repeat="folder in folderPath" ng-click="navigateToFolder(folder.content_id)">
                                            <a href="">
                                                <i class="fa" ng-class="{'fa-folder-open' : $last, 'fa-folder': !$last}"></i>
                                                {[ folder.title ]}
                                            </a>
                                        </li>
                                        <button class="btn btn-primary pull-right"
                                        confirm confirm-type="delete"
                                        confirm-fn="deleteMultipleContents()"
                                        uib-popover="Delete" popover-trigger="mouseenter">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <button class="btn btn-primary pull-right" ng-click="addNewURL()"
                                        uib-popover="{[popOverMessages.addURL]}"
                                        popover-trigger="mouseenter">
                                            <i class="glyphicon glyphicon-link"></i>
                                        </button>
                                        <button class="btn btn-primary pull-right" ng-click="moveContent()"
                                        uib-popover="Move to Folder" popover-trigger="mouseenter">
                                            <i class="fa fa-share"></i>
                                        </button>
                                        <button class="btn btn-primary pull-right" 
                                        ng-click="createFolder()"
                                        uib-popover="Add Folder" popover-trigger="mouseenter">
                                            <i class="icon_folder-add"></i>
                                        </button>
                                        <button class="btn btn-primary pull-right"
                                            ng-click="upload()">
                                            Upload
                                            <i class="fa fa-cloud-upload"></i>
                                        </button>
                                    </ol>
                                </div>
                            </div>
                            <!-- Folders -->
                            <div content-droppable class="item-container-wrap" 
                            ng-repeat="folder in folders" data-index="{[$index]}">
                                <div class="div-draggable-wrap pointer" draggable data-index="{[$index]}"
                                     data-isFolder="{[folder.is_folder]}">
                                    <div class="item-container-header">
                                        <p style="width:88%; overflow:hidden" uib-popover="{[ folder.title ]}"
                                           popover-trigger="mouseenter">{[ folder.title ]}</p>
                                        <input type="checkbox" class="right-absolute" value="None" name="check" ng-hide="context == 'upsertschedule' "
                                               ng-checked="checkedFolders.indexOf(index) > -1"
                                               ng-click="toggleCheck('folder', $index)"/>
                                    </div>
                                    <div class="folder-container" ng-click="navigateToFolder(folder.content_id)">
                                        <img ng-src="{[ folder.thumbnail ]}">
                                    </div>
                                </div>
                                <div class="item-container-footer">
                                    <span class="pull-right">
                                        <a confirm confirm-fn="deleteSingleContent(folder.content_id)"
                                           confirm-type="delete">
                                            <i class="fa fa-trash-o pointer"></i>
                                        </a>
                                    </span>
                                    <span class="pull-left">
                                        <a ng-click="editContent(folder, $index)">
                                            <i class="fa fa-pencil pointer"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <!-- Files -->
                            <div class="item-container-wrap"
                                ng-repeat="file in files">
                                <div class="div-draggable-wrap pointer" draggable data-index="{[$index]}"
                                     data-isfolder="{[file.is_folder]}" data-type="file">
                                    <div class="item-container-header">
                                        <p style="width:88%;overflow:hidden" uib-popover="{[ file.title ]}"
                                           popover-trigger="mouseenter" >{[ file.title ]}</p>
                                        <input class="right-absolute" type="checkbox"
                                            ng-hide="context == 'upsertschedule' "
                                               ng-checked="checkedContent.indexOf(index) > -1"
                                               ng-click="toggleCheck('file', $index)"/>
                                    </div>
                                    <!--<div class="item-container" ng-click="viewContentInDetail(file)" >-->
                                    <div class="item-container" content-slider slide-content="files" index="{[$index]}">
                                        <img ng-src="{[ file.thumbnail ]}">
                                        <span class="widget-icon">
                                           <i class="glyphicon glyphicon-link"
                                              ng-if="file.content_type.indexOf('url')>-1"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="item-container-footer">
                                    <span class="pull-right">
                                        <a confirm-fn="deleteSingleContent(file.content_id)" confirm
                                           confirm-type="delete">
                                            <i class="fa fa-trash-o pointer"></i></a></span>
                                    <span class="pull-left">
                                        <a ng-click="editContent(file, $index)">
                                            <i class="fa fa-pencil pointer"></i>
                                        </a>
                                    </span>
                                    <a class="btn btn-primary btn-sm" style="padding: 2px 5px;font-size: 10px;width: 60%;" uib-popover="Add to Selection"
                                        popover-trigger="mouseenter"
                                        ng-show="context == 'upsertschedule'" ng-click="addToSelection($index, 'content', file)">
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Widgets" active="tab.active">
                    <div class="panel fill">
                        <div class="panel-body fill overflow-y">
                            <div class="row">
                                <div class="col-md-12">
                                    <ol class="breadcrumb">
                                        <button class="btn btn-primary pull-right"
                                        uib-popover="Delete" popover-trigger="mouseenter">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <button class="btn btn-primary pull-right" ng-click="addNewWidget(availableWidgetTypes.fb)"
                                        uib-popover="Add Facebook Page" popover-trigger="mouseenter">
                                            <i class="fa fa-facebook"></i>
                                        </button>
                                        <button class="btn btn-primary pull-right" 
                                        ng-click="addNewWidget(availableWidgetTypes.rss)"
                                        uib-popover="Add Rss" popover-trigger="mouseenter">
                                            <i class="fa fa-rss"></i>
                                        </button>
                                        <button class="btn btn-primary pull-right" 
                                        ng-click="addNewWidget(availableWidgetTypes.clock)"
                                        uib-popover="Add Digital Clock" popover-trigger="mouseenter">
                                            <i class="fa fa-clock-o"></i>
                                        </button>
                                    </ol>
                                </div>
                            </div>
                            <div class="item-container-wrap"
                                 ng-repeat="widget in widgets">
                                <div class="div-draggable-wrap pointer" draggable
                                     data-type="widget" data-index="{[$index]}">
                                    <div class="item-container-header">
                                        <p style="width:88%;overflow:hidden" uib-popover="{[ widget.title ]}"
                                           popover-trigger="mouseenter">{[ widget.title ]}</p>
                                    </div>
                                    <div class="item-container" content-slider slide-content="widgets" 
                                        index="{[$index]}">
                                        <img ng-src="{[ widget.thumbnail ]}">
                                    </div>
                                </div>
                                <div class="item-container-footer">
                                
                                    <span class="pull-right">
                                        <a confirm-fn="deleteWidget(widget.content_id)" confirm confirm-type="delete">
                                            <i class="fa fa-trash-o pointer"></i></a>
                                    </span>
                                    <span class="pull-left">
                                        <a ng-click="editWidget($index)">
                                            <i class="fa fa-pencil pointer"></i>
                                        </a>                                       
                                    </span>
                                    <a class="btn btn-primary btn-sm" style="padding: 2px 5px;font-size: 10px; width: 60%;" uib-popover="Add to Selection"
                                        popover-trigger="mouseenter"
                                        ng-show="context == 'upsertschedule'" ng-click="addToSelection($index, 'widget', widget)">
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</section>