{% extends 'landing_page.html' %}
{% load staticfiles %}

<!--{% block title %}Blynq Login Page{% endblock %}-->

{% block content %}
<header class="head-section">
    <div class="navbar navbar-default navbar-static-top container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="height:80px;width:200px">
                <img src="{%static 'LandingPage/img/Website_logo.png'%}" style="height:100%;width:100%">
            </a>
        </div>
    </div>
</header>
<div class="container" style="margin:20px">
    <div class="well  col-md-offset-2 col-sm-8">
        <div class="container" id="divLoginFields">
            <h2>Blynq Login</h2>

            {% if user.is_authenticated %}
                <P>Thanks for logging in. You will be redirected to Home page.</P>
            {% else %}
                <form class="form-horizontal" role="form" action="/authentication/login/" method="post">

                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="txtUsername">Username</label>
                        <div class="col-sm-5">
                             <input type="text" name="username" class="form-control" id="txtUsername" placeholder="Enter username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="txtpassword">Password:</label>
                        <div class="col-sm-5">
                            <input type="password" name="password" class="form-control" id="txtpassword" placeholder="Enter password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox"> Remember me</label>
                            </div>
                      </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" id="btnSubmit">Submit</button>
                            <input type='text' hidden name="next" value="{{ request.REQUEST.next }}">
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    </div>

    <script src="{% static 'Libraries/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'CustomScripts/login.js' %}"></script>
{% endblock content %}