{% extends 'landing_page.html' %}
{% load staticfiles %}

<!--{% block title %}Blynq Login Page{% endblock %}-->

{% block content %}
<header class="head-section">
    <div class="navbar navbar-default navbar-static-top container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="height:80px;width:200px">
                <img src="{%static 'LandingPage/img/Website_logo.png'%}" style="height:100%;width:100%">
            </a>
        </div>
    </div>
</header>
<div class="container" style="margin:20px">
    <div class="col-md-offset-2 col-sm-8" ng-controller="loginCtrl as loginCtrl">
        <div class="well">
            <h2>Login</h2>
            <div class="row">
                <div class="col-md-12">
                    <uib-alert type="danger" ng-show="loginCtrl.showCredentailsError">
                        Invalid login details. Please try again.
                    </uib-alert>

                    <form class="form-horizontal" role="form" name="loginForm">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="txtUsername">Username</label>
                            <div class="col-sm-5">
                                <input type="text" name="loginForm.username" class="form-control" id="txtUsername"
                                       ng-model="loginCtrl.credentials.username" placeholder="Enter username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="txtpassword">Password:</label>
                            <div class="col-sm-5">
                                <input type="password" name="loginForm.password" class="form-control" id="txtpassword"
                                       ng-model="loginCtrl.credentials.password" placeholder="Enter password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label><input type="checkbox"> Remember me</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" id="btnSubmit"
                                        ng-click="loginCtrl.submit()">Submit <i
                                        class="fa fa-white fa-check icon-right"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-fixed-width"
                                        ng-click="loginCtrl.cancel()">
                                    Cancel <i class="fa fa-times icon-right"></i>
                                </button>
                                <input type='text' hidden name="next" value="{{ request.REQUEST.next }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}