{% extends 'masterLayout.html' %}
{% load staticfiles %}

{% block title %}Blynq Login Page{% endblock %}

{% block nonAuthenticatedContent %}
     <div class="well col-sm-8">
         <div class="container">
             <h2>Blynq Registration</h2>

             {% if registered %}
                <p>Thanks for registering with us. Please Login</p>
            {% else %}
             <!-- TODO: Fix errors showing up on page load -->
             <!-- TODO: Show erros when there is password mismatch or username already exists -->
                {% if user_details_form.errors %}
                    <p style="color: red;">
                        <ul>
                            Please correct the error{{ form.errors|pluralize }} below.
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                {% endif %}
                    <form id="user_form" method="post" class="form-horizontal" action="/authentication/register/">

                        {% csrf_token %}
                        <!-- TODO: Fix formatting of the below form -->
                        {{user_details_form.as_p}}
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-2" for="txtUsername"> Username </label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="text" name="username" class="form-control" id="txtUsername" placeholder="Enter Username">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-2" for="txtEmailAddress"> Email Address </label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="email" name="email" class="form-control" id="txtEmailAddress" placeholder="Enter Email">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-2" for="txtPassword"> Password </label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="password" name="password" class="form-control" id="txtPassword" placeholder="Enter Password">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-2" for="txtPassword2"> Password </label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="password" name="password2" class="form-control" id="txtPassword2" placeholder="Re-Enter Password">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-2" for="txtCompanyName"> Company Name </label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="text" name="companyName" class="form-control" id="txtCompanyName" placeholder="Enter Company Name">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-2" for="txtMobileNumber"> Mobile Number </label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="NUMBER" name="mobileNumber" class="form-control" id="txtMobileNumber" placeholder="Enter Mobile Number">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <button type="submit" class="btn btn-default" id="btnSubmit">Register</button>
                            </div>
                        </div>
                </form>
            {% endif %}
         </div>
     </div>
{% endblock nonAuthenticatedContent %}