{% load staticfiles %}
<script src="{% static 'CustomScripts/PlaylistManagement-ang.js' %}"></script>
<script src="{% static 'CustomScripts/ContentManagement-ang.js' %}"></script>
<section>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li ng-repeat="folder in folderPath" ng-click="navigateToFolder(folder.content_id)">
                    <a href="">
                        <i class="fa" ng-class="{'fa-folder-open' : $last, 'fa-folder': !$last}"></i>
                        {[ folder.title ]}
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="min-height:400px; overflow-y: scroll">
            <div class="panel panel-default" style="border-right:1px solid grey">
                <div class="panel-heading">
                    Content
                    <button class="btn  btn-primary pull-right" style="margin-left:5px;" data-toggle="modal"
                            data-target="#mdlUploadContent">Upload
                    </button>
                    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#mdlCreateFolder">Create
                        Folder
                    </button>
                </div>
                <div class="panel-body">
                    <!-- Folders -->
                    <div class="item-container-wrap" ng-repeat="folder in folders">
                        <div class="item-container-header">
                            <p>{[ folder.title ]}</p>
                        </div>
                        <div class="folder-container" ng-click="navigateToFolder(folder.content_id)">
                            <img src="{% static 'images/folder-icon.png' %}">
                        </div>
                        <div class="item-container-footer">
                            <div class="input-group">
                                <i class="fa fa-trash-o pull-right pointer"
                                   ng-click="deleteContent(folder.content_id)"></i>
                                <i class="fa fa-pencil pull-right pointer"
                                   ng-click="editTitle(folder, $index, 'folder')"
                                   data-toggle="modal" data-target="#mdlEditContentTitle"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Files -->
                    <div class="item-container-wrap"
                         ng-repeat="file in files"
                    >
                        <div class="div-draggable-wrap" draggable data-index="{[$index]}">
                            <div class="item-container-header">
                                {[ file.title ]}
                            </div>
                            <div class="item-container">
                                <img ng-src="{[ file.url ]}">
                            </div>
                        </div>
                        <div class="item-container-footer">
                            <div class="input-group">
                                <i class="fa fa-trash-o pointer pull-right"
                                   ng-click="deleteContent(file.content_id)"></i>
                                <i class="fa fa-pencil pull-right pointer"
                                   ng-click="editTitle(file, $index, 'file')"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal-upload content -->
    {% include "contentManagement/_contentUploadForm.html" %}

    <!-- Modal-create folder -->
    {% include "contentManagement/_createFolderForm.html" %}

    <!-- Modal- -->
    {% include "contentManagement/_editContentTitle.html" %}


</section>