<!-- mediaPlayer -->

<div class="stretch media-player">

    <!-- image-->
    <div ng-if="isMediaType.image" class="media-wrapper">
        <img ng-if="showImageBlur" ng-src="{[ mediaFile.url | trusted]}" class="img-blur stretch">
        <img ng-src="{[ mediaFile.url | trusted]}"
             class="media-content img" >
    </div>

    <!-- pdf -->
    <div ng-if="isMediaType.pdf" class="media-wrapper">
        <pdf-section class="media-content" >
            <div ng-if="showPDFNavigation">
                <button ng-click="prevPage()">&lt;</button>
                <button ng-click="nextPage()">&gt;</button>
                <span>{[currentPage]}/{[totalPages]}</span>
                <br>
                <br>
            </div>
            <pdfviewer src="{[ mediaFile.url | trusted ]}"
                       on-page-load='pageLoaded(page,total)' id="viewer"></pdfviewer>
        </pdf-section>
    </div>

    <!-- video -->
    <div ng-if="isMediaType.video" class="media-wrapper">
        <video controls autoplay class="media-content video"
                mute-dir="{[ muteAudio ]}"
               ng-src="{[mediaFile.url | trusted]}"
                >
            <!--<source ng-src="{[file.url | trusted]}">-->
            Your browser does not support HTML5 video.
        </video>
    </div>

    <!-- audio -->
    <div ng-if="isMediaType.audio" class="media-wrapper">
        <audio controls autoplay class="media-content" mute-dir="{[ muteAudio ]}"
               ng-src="{[mediaFile.url | trusted]}">
        <!--<source ng-src="{[file.url | trusted]}">-->
            Your browser does not support HTML5 video.
        </audio>
        <!-- audio gif-->
        <!--<img class="media-content"-->
             <!--ng-src="static/img/audio_gif.gif">-->
    </div>

    <!-- youtube -->
    <div ng-if="isMediaType.youtube" class="media-wrapper">
        <iframe class="stretch" ng-src="{[ mediaFile.url | youtube | trusted ]}">
        </iframe>
    </div>

    <!-- widget/rss -->
    <div ng-if="isMediaType.rssText" class="media-wrapper rss-text" 
        ng-style="{'background-color':mediaFile.background_color, 'color':mediaFile.font_color }">
        <marquee>
            {[ mediaFile.widget_text ]}
        </marquee>
    </div>

    <!-- fb page-->
    <div ng-if="isMediaType.fb" class="media-wrapper">
        <iframe class="stretch" ng-src="{[ mediaFile.url | trusted]}"></iframe>
    </div>

    <!-- clock-->
    <div ng-if="isMediaType.clock" class="media-wrapper" 
        ng-style="{'background-color':mediaFile.background_color, 'color':mediaFile.font_color }">
        {[ currentTime ]}
    </div>

    <!-- instagram page-->
    <div ng-if="isMediaType.instagram" class="media-wrapper">
        <iframe class="stretch" ng-src="{[ mediaFile.url | trusted]}"></iframe>
    </div>

    <!-- url, that is not image, pdf, video. Hence, shown in iframe-->
    <div ng-if="isMediaType.iframe" class="media-wrapper">
        <iframe id="{[ 'iframe_'+ schedulePane.pane.layout_pane_id ]}" class="stretch"
                ng-src="{[ mediaFile.url | trusted]}"></iframe>
    </div>

    <!-- Default -->
    <div ng-if="isMediaType.default" class="media-wrapper">
        <img ng-src="{[defaultImageUrl]}" class="media-content">
    </div>

</div>