
<section class="wrapper">
	<div class="row">
		<div class="col-md-4">
			<div class="well">
				<h2>Step 1</h2>
				Go to
				<a ui-sref="screens">Screens</a> page and click on 'Add Screen'
			</div>
		</div>
		<div class="col-md-4">

			<div class="well">
				<h2>Step 2</h2>
				Go to
				 <a ui-sref="playlists.content">Playlists</a> page and click on 'Add Playlist'
			</div>

		</div>
		<div class="col-md-4">
			<div class="well">
				<h2>Step 3</h2>
				Go to
				<a ui-sref="schedules">schedules</a> page and click on 'Add Schedule'.
			</div>
		</div>

	</div>

	<!--overview start-->
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="info-box blue-bg pointer" ng-click="navigateTo('screens')">
				<i class="icon_desktop"></i>
				<div class="count">{[homeCtrl.screen_count]}</div>
				<div class="title">Screens</div>
			</div><!--/.info-box-->
		</div><!--/.col-->

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="info-box brown-bg pointer" ng-click="navigateTo('contentLibrary')">
				<i class="fa fa-folder-open-o"></i>
				<!--<i class="fa fa-shopping-cart"></i>-->
				<div class="count">{[ homeCtrl.used_storage | memoryInGB ]} GB</div>
				<div class="title">Space used</div>
			</div><!--/.info-box-->
		</div><!--/.col-->

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="info-box dark-bg pointer" ng-click="navigateTo('schedules')">
				<i class="fa fa-paper-plane-o"></i>
				<!--<i class="fa fa-thumbs-o-up"></i>-->
				<div class="count">{[ homeCtrl.schedule_count ]}</div>
				<div class="title">Schedules</div>
			</div><!--/.info-box-->
		</div><!--/.col-->



	</div><!--/.row-->

</section>

